javascript:
  var App = {
    editable: {
      defaults: {
        submit: "#{t('ok')}",
        cancel: "#{(t('cancel'))}",
        tooltip: "#{t('click_to_edit')}",
        onblur: "ignore"
      }
    }
  }
