.bundle
db/*.sqlite3
log/*.log
tmp/
coverage/*
.sass-cache/
.*.sw*
.DS_Store
app/.DS_Store
app/assets/.DS_Store
config/database.yml
public/system/
chromedriver.log
public/uploads/idea_category
config/initializers/01_envvars.rb
db/schema.rb
