@import idea

#facebox
  .submit
    text-align: center
  form.simple_form.idea
    input[type=text], textarea
      width: 400px
      +border-radius(5px)
      margin-bottom: 15px
      &:inval7d
        +box-shadow(none)
    input[type=text]
      height: 28px
    textarea
      height: 100px
    .dropdown
      margin: 0 32px 0 0
      float: left
    p
      float:left
      margin-bottom: 5px
      font-style: italic
      font-size: 14px
      color: $light_gray
    h5
      margin-bottom: 10px
    .submit
      float: left
      margin-bottom: 20px

.warning
  +border-radius(5px)
  display: block
  float: left
  margin: 10px 0

@mixin index
  +grid(12)

  .new_idea
    h2
      font-size: 1.69em
    .btn
      margin: 5px 0 0 10px
    .call_to_action
      margin: 10px 0 0 10px
      float: left
    .greybox
      background-image: url(asset_path('imagine/greybox.png', image))
      padding: 38px 25px
      font-family: "AkagiExtraBold", helvetica, sans-serif
      color: $dark_gray
      margin-bottom: 10px
      margin-left: 8px

      .ideas_headline_container
        float: left
        width: 410px
        padding: 5px
        margin-right: 45px
        font-size: 1em
        h2
          color: #EF803B
          font-size: 1.6em
      iframe
        float: left

  .explore
    +grid(10)
    +grid-push(1)
    +alpha
    margin-top: 48px
    margin-bottom: 32px
    padding: 12px 0
    color: $dark_grey
    background: $light_brey
    +border-radius(8px)
    text-align: center
    font-size: 24px
    line-height: 28px
    .number
      font-size: 36px
      line-height: 36px
    a
      text-decoration: none
  .category_list
    overflow: hidden
    .category
      +border-radius(4px)
      font-family: "Folk"
      background: #eee
      +grid(2)
      padding: 5px
      text-align: center
      font-size: 18px
      border: 1px solid #f4f4f4
      a
        color: #333
        text-decoration: none
      &:hover
        cursor: pointer
        border: 1px solid #999
        background: #ddd
    .selected
      border: 1px solid #999
      background: #ddd
  .ideas
    +grid(12)
    +alpha
    +omega
    padding-top: 28px
    h3
      margin-bottom: 15px
      text-align: left
      font-size: 28px
      font-weight: normal
      color: $grey
    ul
      li
        +idea
    .more
      +grid(4)
      +grid-push(8)
      +alpha
      +omega
      text-align: right
      padding-top: 16px
      a
        display: block
        text-decoration: none
        .arrow
          float: right
          font-size: 18px
          line-height: 32px
          font-weight: bold
          margin-left: 4px
          margin-top: -4px
