#new_registration
  = render :partial => 'devise/registrations/signup_form'
  .left
    .back=link_to t('already_have_an_account'), "#login" 
    .back=link_to t("go_back"), "#join"
  .clearfix
  .policy.small
    O Meu Rio protege a #{link_to("sua privacidade", page_path("privacidade"), :target => "_blank")} e o manterá informado sobre esta e outras campanhas.

