%head
  %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title= @email.subject
%body{:style => "margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse;height:100%;width:100%;"}
  = @email.message

