<%= semantic_form_for [:admin, @meu_rio_is_widget] do |f| %>
  <%= f.inputs do %>
    <div style="margin-left:20%; padding:20px;">
      <p><strong>Utilize o HTML abaixo para gerenciar o conteúdo deste widget:</strong></p><br/>
      <div>
        &lt;div class=&#39;item&#39;&gt;<br />
        &lt;h3&gt;Veja o perfil da Ale!&lt;/h3&gt;<br />
        &lt;div class=&quot;image&quot;&gt;&lt;img src=&quot;http://graph.facebook.com/780745726/picture?type=normal&quot; /&gt;&lt;/div&gt;<br />
        &lt;a href=&quot;http://localhost:3000/members/23&quot;&gt;&lt;h2&gt;Alessandra Orofino&lt;/h2&gt;&lt;/a&gt;<br />
        &lt;strong&gt;O Meu Rio &#233;...&lt;/strong&gt;<br />
        &lt;p&gt;um bando de carioca colaborando para um Rio melhor!!&lt;/p&gt;<br />
        &lt;/div&gt;<br />
      </div>
    </div>
    <%= f.input :html_content, :label => 'HTML Content' %>

    <%= f.buttons %>
  <% end %>
<% end %>
