<%= semantic_form_for [:admin, @meu_rio_team_widget] do |f| %>
  <%= f.inputs do %>
    <div style="margin-left:20%; padding:20px;">
      <p><strong>For Meu Rio team activity, please use the following HTML as a basic structure:</strong></p><br/>
      <div>
        &lt;div class='item'&gt;<br/>
        &lt;p class='date'&gt;31/12/2012&lt;/p&gt;<br/>
        &lt;p&gt;<br/>
          Brief sentence about the team's going-on<br/>
          &lt;a href="#"&gt;Link to another page...&lt;/a&gt;<br/>
          &lt;/p&gt;<br/>
        &lt;/div&gt;<br/>
      </div>
    </div>
    <%= f.input :html_content, :label => 'HTML Content' %>

    <%= f.buttons %>
  <% end %>
<% end %>
