<h1>Admin::Dashboard#index</h1>

<iframe src="https://heroku.newrelic.com/public/charts/jY0oW6MPb9W" width="500" height="300" scrolling="no" frameborder="no"></iframe>
<iframe src="https://heroku.newrelic.com/public/charts/7OeJUXOelhT" width="500" height="300" scrolling="no" frameborder="no"></iframe>

<iframe src="https://heroku.newrelic.com/public/charts/4oVm8A4U4Nw" width="500" height="300" scrolling="no" frameborder="no"></iframe>

<iframe src="https://heroku.newrelic.com/public/charts/eply0SqU9FY" width="500" height="300" scrolling="no" frameborder="no"></iframe>
