.grid_12
  .issue_name= link_to @issue.name
  %h1.video_page_title
    =t("video_show.page_title")
.current
  .grid_6.alpha
    =raw @stories.first.video_embed_code
  .grid_6.omega
    %h2= @stories.first.title
    .description= raw @stories.first.description
    -case @stories.first.connected_action
      -when "DEBATE"
        -if @debate
          =link_to "Take Action", debate_path(@debate.id), :class => "btn take_action"
      -when "PETITION"
        -if @petition
          =link_to "Take Action", petition_path(@petition.id), :class => "btn take_action"
.grid_12
  -@stories.each do |story|
    .story{ :id => "story-#{story.id}"}
      =raw story.video_embed_code
