= semantic_form_for [:admin, @petition] do |f|
  =f.inputs "Campaign Information" do
    =f.input :title, :as => :string
    =f.input :custom_path, :as => :string
    =f.input :issue, :label => 'Campanha'
  =f.inputs "Petition Information" do
    =f.input :headline, :as => :string
    =f.input :description
    =f.input :short_description, :label => "Excerpt"
    =f.input :media
    .caption{:style => "margin-left: 330px;"} 
      %p
        %span{ :style => "font-weight: bold;" } To add an image, please use the following format:
        %span= "<img src='http://www.example.com/path-to-your-image'>" 
      %p{:style => "font-weight: bold;" } To add a video, copy and paste the embed code for the video.
      %br
    =f.input :media_caption, :as => :string
    =f.input :call_to_action_headline, :as => :string
    =f.input :call_to_action_text
    =f.input :call_to_action, :as => :string, :label => "Call to Action button (maximum 20 characters)"
  =f.inputs "Petition Settings" do
    =f.input :display_counter
    =f.input :counter_threshold
    =f.input :counter_goal
    =f.input :additional_signatures
    =f.input :display_comment_field
    =f.input :comment_question, :as => :string
    =f.input :surface_comments
  =f.inputs "Donation Settings" do
    =f.input :display_donation
    =f.input :donation_thanks_message, :as => :string
    =f.input :donation_headline, :as => :string
    =f.input :donation_text
  =f.buttons
