#join{:style => "display:none"}
  %header
    %h2 Faça parte do MeuRio
  %p.message
    Cadastre-se usando a sua conta do Facebook ou do Orkut.
  #services
    = link_to(image_tag('auth/facebook_128.png'), member_omniauth_authorize_path(:facebook), :class => "facebook_btn")
    = link_to(image_tag('auth/orkut_128.png'), member_omniauth_authorize_path(:google), :class => "orkut_btn")
    = link_to(image_tag('auth/google.png'), member_omniauth_authorize_path(:google), :class => "google_btn")
  #meu_rio_login
    = link_to t("create_MR_account"), "#"
  %p.disclaimer
    O Meu Rio não terá acesso à sua senha ou informações de sua conta em uma dessas duas redes sociais. Teremos apenas seu nome, email e foto.
