#login{:style => "display:none"}
  %header
    %h2 LOGIN
  %p.message
    Faça o login com a sua conta do Facebook, Orkut ou Google.
  #services
    = link_to(image_tag('auth/facebook_128.png'), member_omniauth_authorize_path(:facebook), :class => "facebook_btn")
    = link_to(image_tag('auth/orkut_128.png'), member_omniauth_authorize_path(:google), :class => "orkut_btn")
    = link_to(image_tag('auth/google.png'), member_omniauth_authorize_path(:google), :class => "google_btn")
  .separator
    .left.line
    .left.or OU
    .left.line
  #mr_login.meu_rio_login
    = link_to t("MR_account_login"), "#mr_login", :id => "MR_login_link", :class => "btn"
  .clearfix
  %p.disclaimer
    O Meu Rio não terá acesso à sua senha ou informações de sua conta em uma dessas redes sociais. Teremos apenas seu nome, email e foto.
