%nav#primary
  %ul
    %li
      =link_to('SOBRE NÓS', page_path(:id => 'sobre_nos'), :class => "top_level #{(@current_page ==  'about' ? 'selected' : nil)}")+'|'
    %li.issue_menu_wrap
      =link_to('NA ATIVIDADE', '#', :class => "top_level")+'|'
      -if nav_issues.count > 2
        .issue_menu.wide.clearfix
          %ul.thumbnails
            - for issue in nav_issues.first(2) do
              %li.issue_pane
                =link_to image_tag(issue.thumbnail), issue
                =link_to issue.name, issue
          .list
            %span
              MORE ISSUES:
            %ul
              - for issue in nav_issues - nav_issues.first(2) do
                %li.issue_pane
                  =link_to issue.name, issue
      -else
        .issue_menu.small.clearfix
          %ul.thumbnails
            - for issue in nav_issues do
              %li.issue_pane
                =link_to image_tag(issue.thumbnail), issue
                =link_to issue.name, issue
    %li
      =link_to('NOSSO BLOG', "http://meu-rio.tumblr.com/", :class => "top_level", :target => "_blank")+'|'
    %li
      =link_to 'DANDO UMA FORÇA', "#", :class => "top_level last"
