%nav#main
  %ul
    %li
      =link_to 'SOBRE O MEU RIO', page_path(:id => 'about'), :class => "top_level #{(@current_page ==  'about' ? 'selected' : '')}"
      |
    %li.issue_menu_wrap
      =link_to 'NA ATIVIDADE', '#', :class => "top_level #{(@current_page == 'issue' ? 'selected' : '')}"
      |
      %ul.issues
        %li.issue_pane
          =image_tag 'http://placehold.it/100x75'
          =link_to "Lorem ipsum", '#'
        %li.issue_pane
          =image_tag 'http://placehold.it/100x75'
          =link_to "Dolor sit amet", '#'
    %li
      =link_to 'NOSSO BLOG', "#", :class => "top_level"
      |
    %li
      =link_to 'DANDO UMA FORÇA', "#", :class => "top_level last"
      |
