%nav#main
  %ul
    %li
      =link_to 'SOBRE O MEU RIO', page_path(:id => 'about'), :class => "top_level #{(@current_page ==  'about' ? 'selected' : '')}"
      |
    %li.issue_menu_wrap
      =link_to 'NA ATIVIDADE', '#', :class => "top_level #{(@current_page == 'issue' ? 'selected' : '')}"
      |
      %ul.issues
        - for issue in nav_issues.first(2) do
          %li.issue_pane
            =link_to image_tag(issue.thumbnail), issue
            =link_to issue.name, issue
        - for issue in nav_issues - nav_issues.first(2) do
          %li.issue_pane
            =link_to image_tag(issue.thumbnail), issue
            =link_to issue.name, issue
    %li
      =link_to 'NOSSO BLOG', "#", :class => "top_level"
      |
    %li
      =link_to 'DANDO UMA FORÇA', "#", :class => "top_level last"
