#join_widget.widget
  %h3 Quer nos
  %h1 Ajudar a construir 
  %h2
    %span um
    Rio Mais Justo?
  -if current_member
    .btn=link_to t("page_index.join_us"), "#already_logged_in", :rel => "facebox" 
  -else
    .btn=link_to t("page_index.join_us"), "#join", :rel => "facebox" 
