- content_for :title, "Meu Rio - Dando uma força!"

%h1.grid_8
  DANDO UMA FORÇA

.grid_8
  %p O Meu Rio é uma organização não-governamental, sem fins lucrativos e que não recebe incentivo do Estado. Nós começamos o projeto com doações de pessoas físicas e jurídicas que apostaram na ideia por um Rio melhor.
  %p 
    %img{:source => "http://i.imgur.com/CRW3KCA.png"}
  %p Para mais detalhes veja o #{link_to "Orçamento Mensal do Meu Rio", "http://i.imgur.com/7toaHSH.jpg", :target => "blank"}.
  %p Todas as transações com cartão de crédito favorecendo o Meu Rio são feitas através do MoIP, um prestador de serviços com segurança certificada pela Verisign e pela Site Blindado. Não daremos nenhum tipo de informação pessoal sua pra ninguém.
  %form{ :target => '_blank', :method => 'post', :action => 'https://www.moip.com.br/Process.do' }
    %input{ :type => 'hidden', :name => 'method', :value => 'donation' }
      %input{ :type => 'hidden', :name => 'encrypted', :value => "#{ENV["MOIP_KEY"]}" }
    %input{ :type => 'hidden', :name => 'type', :value => '2' }

    %input{:type => :submit, :class => :btn, :value => "Faça Uma Doação" }
  %br

-# .grid_4.omega.donate
-#   .speech_bubble_container.gray
-#     .speech_bubble_top
-#     .speech_bubble
-#       %h2 Quem já dá uma força?
-#       .title Pessoas físicas:
-#       %ul
-#         %li Arminio Fraga Neto
-#         %li Gilberto Sayao da Silva
-#         %li Guilherme Augusto Frering
-#         %li Manoel Corrêa do Lago

-#       .title Pessoas jurídicas:
-#       %ul
-#         %li Farol da Barra
-#         %li Grupo Icatu
-#         %li Instituto Arapyau

