#homepage
  .widget_container.margin_bottom
    =render '/widgets/featured_content_1'
    =render '/widgets/date_weather'
    =render '/widgets/legislative'

  .widget_container.left.margin_right.clear_fix{:style => 'width:300px;'}
    =render '/widgets/public_hearings'
    =render '/widgets/join'

  .widget_container.left.margin_bottom.margin_right
    =render '/widgets/meu_rio_is'

  .widget_container.left
    =render '/widgets/featured_content_2'

  .widget_container.left
    =render '/widgets/follow'

  .widget_container.right{:style => 'margin-right:10px;'}
    =render '/widgets/team_update'

.clearfix

