%h1.grid_12
  = t("privacy_policy")
  .outline= t("privacy_policy")

.grid_12
  %h2 Introdução
  %p Este Site http://www.meurio.org.br (doravante denominado “Site”), é operado pelo Meu Rio (doravante denominada “Nós”). Meu Rio é o nome de uma organização sem fins lucrativos com estatuto registrado em 20011.
  %p O Meu Rio se compromete a proteger sua privacidade na internet. Nós também somos membros e lidamos com a sua privacidade do mesmo modo que lidamos com a nossa. Elaboramos esta política de privacidade para que você saiba de que forma nós lidamos com suas informações pessoais – e para mostrar que estamos trabalhando duro para manter essas informações seguras e confidenciais.

.grid_12
  %h2 Suas Informações Pessoais
  %p Você receberá do Meu Rio e-mails com notícias. Se você, a qualquer momento, desejar excluir seu endereço de nossa lista de e-mails, poderá fazê-lo entrando em contato com info[@]meurio.org.br, escrevendo “sair da lista” na linha de assunto.
  %p Suas informações não serão compartilhadas com grupos não associados sem sua expressa permissão. Parte de suas informações pessoais poderão ser compartilhadas com os seguintes grupos associados:
  %ul
    %li Terceiros Associados – tais como os administradores de nosso banco de dados – somente para fins de auxílio em nossas atividades. Tais grupos não compartilharão suas informações pessoais nem as usarão para qualquer finalidade que não tenha sido indicada por nós.
    %li Terceiros Administradores, tais como organizações às quais nos associamos para facilitar a ampla distribuição de mensagens. O conteúdo desses e-mails será originado pelo Meu Rio e os terceiros mencionados não terão acesso direto a suas informações pessoalmente identificáveis.
  %p Além disso, com sua expressa permissão, parte de suas informações pessoais serão transmitidas aos seguintes grupos (conforme prática usual):
  %ul
    %li Líderes, publicações e outros grupos-alvo, quando você decidir usar nossa ferramenta de e-mail para enviar mensagens a esses grupos.
    %li Líderes, publicações e público em geral, quando você assinar abaixo-assinados ou preencher formulários de pesquisa de opinião.
  %p Quando você der informações pessoais ao Meu Rio, faremos o possível para garantir que suas informações sejam tratadas de modo seguro. Infelizmente, nenhuma transmissão de dados via internet pode ter garantia de 100% de segurança. Desse modo, mesmo que nos esforcemos para proteger suas informações pessoais, o Meu Rio não pode garantir ou nos responsabilizar pela segurança de quaisquer infromações que nos sejam transmitidas por você, e tal transmissão ocorrerá a seu próprio risco. Uma vez recebidas suas informações, nos esforçaremos o melhor possível para garantir a segurança dessas informações em nossos sistemas.
  %p Em determinadas circunstâncias, quando for demonstrado que um membro esteja fazendo mau uso de nossos sistemas para finalidades maliciosas (tais como uso dos números de telefone fornecidos pelo Meu Rio para fazer ligações ameaçadoras), tais atividades poderão ser informadas a órgãos de fiscalização. Em tais casos, o Meu Rio poderá liberar para esses órgãos informações pessoalmente identificáveis, inclusive nome e endereço.
  %p Por favor, leia freqüentemente esta política de privacidade, pois ela poderá ser modificada de tempos em tempos. A última revisão desta política de privacidade ocorreu em 05 de maio de 20011. Toda vez que você visitar este Site ou nos fornecer informações através do Site, isso implicará sua aceitação das práticas descritas na política de privacidade vigente no momento em questão. Neste momento, fica implícita também sua aceitação de nossas regras específicas ou termos de uso, que podem ser publicados em seções específicas do Site, inclusive em áreas para doações, assinatura de abaixo-assinados, envio de e-mails ou participação em campanhas fotográficas.
  %p Esta política de privacidade se aplica a transações e atividades em que haja sua participação, bem como a informações coletadas apenas neste Site. Esta política de privacidade não se aplica a páginas hospedadas por outras organizações cujos links possam aparecer neste Site, visto que as políticas de privacidade de tais organizações podem diferir da nossa, nem a qualquer contato off-line entre você e o Meu Rio.

.grid_12
  %h2 Abaixo-Assinados e Pesquisas de Opinião
  %p Em abaixo-assinados e pesquisas de opinião assinados ou preenchidos por você, trataremos seu nome, cidade, Estado e comentários como informações públicas – isso significa, por exemplo, que poderemos fornecer compilações de abaixo-assinados, junto com seus comentários, a líderes políticos e outros públicos-alvo, ou ainda a meios de comunicação. Seu endereço não será disponibilizado ao público, mas poderemos transmiti-lo ao público-alvo específico de um determinado abaixo-assinado. Esta é uma prática usual do nosso ramo para tais casos. Em hipótese alguma seu endereço de e-mail ou número de telefone serão revelados sem sua permissão. Seus comentários também poderão ser disponibilizados on-line à imprensa e ao público, juntamente com seu prenome, cidade e Estado. O Meu Rio não se responsabiliza pelo conteúdo do uso de seu endereço de e-mail por membros do público-alvo das campanhas.

.grid_12
  %h2 Envio de E-mails Via Meu Rio
  %p Em determinados casos, permitiremos que você envie e-mails específicos a líderes mundiais, bem como mensagens do tipo “carta ao editor" para diversas publicações noticiosas através de nosso Site. Tais mensagens são enviadas em seu nome, contendo seu endereço de e-mail como endereço para respostas, sendo que seu nome completo e dados para contato são fornecidos como parte do envio. As mensagens somente serão enviadas em seu nome se você as aprovar individualmente usando nossa feramenta de e-mail. Você assumirá a exclusiva responsabilidade pela(s) mensagem(ns) enviada(s) através de nossa ferramenta de e-mail. O Meu Rio não se responsabiliza pelo conteúdo do uso de seu endereço de e-mail por membros do público-alvo das campanhas.

.grid_12
  %h2 Doações em Dinheiro
  %p Se você desejar fazer uma doação para o Meu Rio, as informações de seu cartão de crédito serão usadas apenas para a transação desejada, através de nosso sistema seguro de pagamento on-line. O Meu Rio não retém informações de cartões de crédito, nem transmite informações de cartões de crédito a comitês eleitorais.

.grid_12
  %h2 Campanhas de Divulgação Por Telefone
  %p De tempos em tempos, os membros da equipe do Meu Rio ou voluntários do Meu Rio entrarão em contato com você por telefone sobre campanhas urgentes. Se você nos forneceu seu número de telefone através de nosso Site, poderá receber ligações de um de nossos voluntários ou um membro de nossa equipe (todos eles estarão comprometidos com os termos da política de privacidade do Meu Rio e não usarão suas informações pessoais para qualquer outra finalidade). Se você desejar que seu número seja permanentemente excluído de nossa lista de telefones, clique aqui. Será necessário um prazo de 8-10 dias para que seus dados sejam excluídos.

.grid_12
  %h2 Crianças
  %p o Meu Rio não solicita informações pessoalmente identificáveis de crianças. Os visitantes do Site menores de 10 anos de idade devem pedir a seus pais ou responsáveis que lhes ajudem ao usar o Site e não devem enviar quaisquer informações pessoalmente identificáveis através do Site. Por exemplo, os visitantes menores de 13 anos de idade não devem fazer doações.

.grid_12
  %h2 Cookies
  %p Certas partes do Site são protegidas por senha. Usaremos um cookie (os cookies ficam armazenados em seu computador e são administrados por seu navegador) para permitir que você retorne a áreas do Site protegidas por senha sem ter de redigitar sua senha. Se você desejar desativar os cookies, poderá saber como fazê-lo através da função de ajuda presente na barra de ferramentas da maioria dos navegadores. Entretanto, ao programar o seu navegador para desativar cookies, você pode não conseguir acessar determinadas partes deste Site.

.grid_12
  %h2 Rastreamento de Dados
  %p Para melhor atender nossos membros, nós usamos cookies e analisamos periodicamente dados estatísticos de visitantes do Site. Nós podemos coletar endereços de IP para entender melhor de onde vem o fluxo de trafego para o nosso site a para prover serviços para nossos membros. Além disso, também poderemos utilizar serviços de terceiros, tais como o Google Analytics. Isso nos permite entender padrões de tráfego e saber se há problemas em nosso Site. Além disso, poderemos usar imagens embutidas em nossos e-mails para rastrear informações estatísticas de abertura desses e-mails, para poder determinar quais dessas mensagens são mais interessantes para nossos membros.
  %p As URLs contidas em e-mails podem conter um ID que nos permite identificar corretamente a pessoa que participou de uma campanha através de nossa página web. Usamos tais URLs para simplificar o processo de assinatura de abaixo-assinados e preenchimento de pesquisas de opinião. Ocasionalmente, poderemos apresentar uma URL curta que contenha um link para uma outra URL, mais longa, contendo um ID – fazemos isso para simplificar a visualização, prevenir que os links sejam interrompidos ao serem abertos e garantir a compatibilidade com programas de e-mail que não aceitam URL longas. Quando for apresentada uma URL abreviada em um e-mail, você verá a URL completa na barra de endereços do navegador ao acessar a página em questão.

.grid_12
  %h2 Links para Outros Sites
  %p o Meu Rio poderá fornecer links a Sites de terceiros, e outros Sites poderão fornecer links para o Site do Meu Rio. Os Sites de terceiros operam conforme seus próprios termos de uso e políticas de privacidade. o Meu Rio não tem qualquer controle sobre tais Sites de terceiros, e ao usar o Site do Meu Rio você estará certificando e concordando que o Meu Rio não é responsável pela disponibilização de tais Sites de terceiros e nem endossa, nem tem qualquer tipo de responsabilidade sobre qualquer conteúdo, publicidade, produtos ou outros materiais localizados nesses Sites ou por eles disponibilizados. Você certifica e concorda ainda que o Meu Rio não terá qualquer tipo de responsabilidade, direta ou indireta, por qualquer dano ou perda causados ou supostamente causados por ou relacionados a uso de ou expectativa em relação a qualquer conteúdo, publicidade, produtos ou outros materiais localizados nesses Sites ou por eles disponibilizados.

.grid_12
  %h2 Alterações da Política de Privacidade
  %p o Meu Rio poderá revisar ou emendar esta política de privacidade a qualquer momento para fins de nossa exclusiva conveniência. Se forem feitas alterações substanciais no modo como são coletadas informações pessoalmente identificáveis fornecidas por nossos usuários, publicaremos um anúncio em lugar visível da página inicial de nosso Site e publicaremos as alterações nesta página. Nossas políticas e práticas nunca serão alteradas de modo a apresentar menos proteção às informações de usuários coletadas antes da data efetiva de entrada em vigor de qualquer alteração sem que haja consentimento dos usuários afetados. Os usuários deverão visitar esta página periodicamente para recapitular a política de privacidade atualizada.

.grid_12
  %h2 Contato
  %p Se você tiver qualquer dúvida sobre esta política de privacidade, suas informações pessoais ou sobre as práticas deste Site, poderá entrar em contato com info [@] Meu Rio.org.br.

.grid_12
  %h2 Termos e Condições
  %p O uso deste Site é disponibilizado pelo Meu Rio e está sujeito aos seguintes Termos e Condições.
  %ol
    %li O uso deste Site implicará aceitação dos presentes Termos e Condições na data do primeiro uso.
    %li O Meu Rio se reserva o direito de alterar estes Termos e Condições a qualquer momento, publicando on-line as alterações. A continuação do uso deste Site depois de as alterações terem sido publicadas implicará aceitação deste acordo na forma alterada.
    %li O usuário concorda em usar este Site apenas para fins de direito e de modo a não infringir os direitos nem restringir ou inibir o uso e desfrute do Site por terceiros.
    %li Este Site e as informações, nomes, imagens, retratos e logotipos referentes ou relativos ao Meu Rio são disponibilizados na presente forma (“as is"), sem que tenha sido feita qualquer manifestação ou endosso de nossa parte e sem qualquer garantia de qualquer natureza, explícita ou implícita. O Meu Rio não se responsabilizará, em qualquer circunstância, por quaisquer danos, incluindo, mas não exclusivamente, danos acessórios ou emergentes ou danos de qualquer natureza resultantes do uso ou relacionados a tal uso ou à perda do uso deste Site, seja por contrato ou negligência.
    %li O Meu Rio não garante que as funções contidas no material incluído neste Site não terão interrupção ou erro, nem que os defeitos serão corrigidos, nem ainda que este Site ou o servidor que o aloja esteja livres de vírus ou “bugs", e tampouco atesta que os mencionados materiais tenham total funcionalidade, precisão e confiança.
    %li Restrições de Copyright: É terminantemente proibido o uso comercial ou publicação de qualquer item exibido neste Site sem prévia autorização do Meu Rio. Se o Usuário desejar maiores informações sobre o uso do conteúdo deste Site, deverá entrar em contato conosco através do e-mail comentarios[@]Meu Rio.org.br.
    %li O Meu Rio não assumirá qualquer responsabiliadade pelo conteúdo de Sites da internet externos.
    %li Qualquer comunicação ou material que o Usurário transmitir ou postar em qualquer área pública do Site, inclusive quaisquer dados, dúvidas, comentários, sugestões ou itens semelhante são e sempre serão tratados como informações não-confidenciais de domínio público.
    %li Em caso de conflito entre os presentes Termos e Condições e regulamentos e/ou termos específicos de uso que porventura apareçam neste Site tratando de material específico, prevalecerão estes últimos.
    %li Os presentes termos e condições reger-se-ão e interpretar-se-ão em conformidade com as leis dos Estados Unidos da América. Quaisquer conflitos oriundos deste documento serão sujeitas exclusivamente à jurisdição dos tribunais dos Estados Unidos da América.
    %li Em caso de não aceitação total dos presentes Termos e Condições, o Usuário deverá deixar de usar este Site imediatamente.
    %li As opiniões de colaboradores deste Site não são necessariamente as opiniões do Meu Rio.
