%h1.grid_9
  = t("pages_show_jobs.title")

.grid_9
  =raw t("pages_show_jobs.description")

.grid_9
  - Job.active.each do |j|
    .job
      %h2.title
        = j.title
      .description
        =raw j.description
