- content_for :title, "Meu Rio - Quer trabalhar conosco?"
- content_for :facebook_properties do
  %meta{ :property => "og:title",       :content => "Venha trabalhar com a gente" }
  %meta{ :property => "og:image",       :content => "http://static.tumblr.com/yozbzdm/UGdm3ezqy/meuriologo__1_.png" }
  %meta{ :property => "og:url",         :content => "http://www.meurio.org.br/paginas/trabalhe" }
  %meta{ :property => "og:description", :content => "#{SITE['og_description']}" }

%h1.grid_9
  = t("pages_show_jobs.title")

.grid_12.alpha.trabalhe
  -unless Job.active.blank?
    - Job.active.each do |j|
      .job.closed
        %a.toggle_icon{:href => '#'}
        %a.title{:href => '#'}
          = j.title
        .description
          =raw j.description
  -else
    =raw t("pages_show_jobs.no_jobs")

- content_for :javascripts do
  :javascript
    $('.job a.title').click(toggleJob);
    $('.job a.toggle_icon').click(toggleJob);

    function toggleJob() {
      $('.description', $(this).parent()).slideToggle('slow', function() {
        if($(this).parent().hasClass('open')){
          $(this).parent().removeClass('open').addClass('closed');
        } else {
          $(this).parent().removeClass('closed').addClass('open');
        }
      });
      return false;
    }
