- content_for :title, "Meu Rio - Quer trabalhar conosco?"
%h1.grid_9
  = t("pages_show_jobs.title")

.grid_8.alpha.trabalhe
  -unless Job.active.blank?

    - Job.active.each do |j|
      .job.closed
        %a.toggle_icon{:href => '#'}
        %a.title{:href => '#'}
          = j.title
        .description
          =raw j.description
  -else
    =raw t("pages_show_jobs.no_jobs")

.grid_4.omega.trabalhe
  .speech_bubble_container.gray
    .speech_bubble_top
    .speech_bubble
      %h2= raw t("pages_show_jobs.sidebar_title")
      =raw t("pages_show_jobs.sidebar_content")

- content_for :javascripts do
  :javascript
    $('.job a.title').click(toggleJob);
    $('.job a.toggle_icon').click(toggleJob);

    function toggleJob() {
      $('.description', $(this).parent()).slideToggle('slow', function() {
        if($(this).parent().hasClass('open')){
          $(this).parent().removeClass('open').addClass('closed');
        } else {
          $(this).parent().removeClass('closed').addClass('open');
        }
      });
      return false;
    }
