%h1 Por favor informe o seu email para completar o registro
=form_tag({:controller => "omniauth_callbacks", :action => "google_custom_domain_complete"}, :method => "post") do
  =text_field_tag(:email)
  %input{ :type => :submit, :value => "Submit" }
