.container_12
  .grid_6
    #sign_in_form.box
      %h2 Entrar
      %p Se você já possui uma conta no Meu Rio entre com o seu usuário e senha
      = render :partial => 'devise/sessions/signin_form'
  .grid_6
    #new_registration.box
      = render :partial => 'devise/registrations/signup_form'
