.container_12
  .grid_6
    %h2 Entrar
    #sign_in_form
      = render :partial => 'devise/sessions/signin_form'
  .grid_6
    #new_registration
      %h2 Criar conta
      = render :partial => 'devise/registrations/signup_form'
