<%= semantic_form_for [:admin, @public_hearing_widget] do |f| %>
  <%= f.inputs do %>
    <div style="margin-left:20%; padding:20px;">
      <p><strong>For each Public Hearing, please use the following HTML as a basic structure:</strong></p><br/>
      <div>
        &lt;div class='item'&gt;<br/>
          &lt;p class='date'&gt;10/10/2011&lt;/p&gt;<br/>
          &lt;p&gt;Brief sentance about the public hearing<br/>
          &lt;a href="http://meurio.org.br/" target="_blank"&gt;link text..&lt;/a&gt;<br/>
          &lt;/p&gt;<br/>
        &lt;/div&gt;<br/>
      </div>
    </div>

    <p>Please note that each &lt;div class='item'&gt; represents a slide in the widget carousel, adding the above block multiple times will create multiple customizable slides.  If the content of the slide is too long, it will be cut off, so please limit yourself to a few sentances.</p>

    <%= f.input :html_content, :label => 'HTML Content' %>

    <%= f.buttons %>
  <% end %>
<% end %>
