#sign_in_form
  %header
    %h2 ENTRAR
  = render :partial => 'devise/sessions/signin_form'
  .clearfix
  .back #{t('not_a_member')} #{link_to t('join_us') + '!', '#join'}
  .back=link_to t("go_back"), "#login"
