= semantic_form_for [:admin, @featured_content_widget] do |f|
  =f.inputs "Featured Content Widget" do
    =f.input :title, :as => :string
    =f.input :link,  :as => :string
    =f.input :image
    .image{:style => "margin-left: 330px;" }
      -unless @featured_content_widget.image_file_name.blank? 
        %img{:src => "#{@featured_content_widget.image.url}", :height => "100"}
    

