@import "vars.css.scss"
@import "mixins.css.scss"
@import compass/utilities
@import compass/css3
@import frontend/vars.css.scss
@import "imagine/defaults/_button.sass"
@import "imagine/defaults/_editable.sass"

body.ideas.show
  +editable
  div[data-raw-attribute=description_html]
    form
      textarea
        height: 100px !important
  h1
    margin-bottom: 10px
  .headline
    margin-top: 15px
    margin-bottom: 0
  button
    +button
    font-family: 'Folk-solid'
    font-size: 12px
    height: 25px
    padding: 5px 20px
  .css3_btn
    +button
    font-family: 'Folk-solid'
    width: 45px
    padding: 5px 20px
  #main
    overflow: hidden
  #idea_main
    margin-top: 30px
  #idea_description
    .sprite.arrow-down
      margin-right: 10px
    #fork_idea_button
      margin-top: 10px
  .fb_fix
    float: left
    overflow: hidden
    margin-left: 25px
    margin-right: 10px


  #formatting_tips.widget
    float: left
    width: auto
    overflow: hidden
    width: 300px
    height: 220px
    background: url('/assets/homepage/public_hearings.png') no-repeat center center
    margin-bottom: 25px
    margin-left: 45px
    p.tip
      font-size: 14px
      line-height: 94%
      color: $dark_gray
      margin-bottom: 6px
      padding: 6px 18px 0px 18px
      a
        font-weight: bold
    h1
      font-size: 25px
      padding-top: 10px
      margin-bottom: 22px
      text-align: center
      color: white
  h2
    color: $mid_gray
    &:hover, &:active, &.selected
      background: url('/assets/nav_hover_underline.png') no-repeat 10%
  header h2
    &:hover, &:active, &.selected
      background: no-repeat

#idea_head
  background-color: #eeebe4
  width: 920px
  padding: 10px

#idea_top
  margin-top: 25px
  background: url('/assets/imagine/idea_top.png') no-repeat
  height: 13px
#idea_bottom
  background: url('/assets/imagine/idea_bottom.png') no-repeat
  height: 13px
  margin-top: -1px


//VERSÕES DAS IDEIAS

#idea_versions
  ul
    margin: 0
    li
      list-style: none
      margin: 0
      padding: 0
      border-bottom: 2px solid #5EC8E5
      .created_at
        margin-bottom: 10px

