@import "vars.css.scss"
@import "mixins.css.scss"

body.ideas.show
  #main
    overflow: hidden
  .fb_fix
    float: left
    overflow: hidden
    margin-right: 25px
  #formatting_tips.widget
    float: left
    width: auto
    overflow: hidden
    width: 300px
    height: 220px
    background: url('/assets/homepage/public_hearings.png') no-repeat center center
    margin-bottom: 25px
    p.tip
      font-size: 14px
      line-height: 94%
      color: $dark_gray
      margin-bottom: 6px
      padding: 6px 18px 0px 18px
      a
        font-weight: bold
    h1
      font-size: 25px
      padding-top: 10px
      margin-bottom: 22px
      text-align: center
      color: white
