// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.issues {

  #main {
    padding-bottom: 50px;
  }

  h1 {
    font-size: 32px;
    margin-left: 15px;
  }

  .grid_8-5.issue_main {
    width: 620px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .grid_3-5 {
    margin-left: 0;
    .see_more {
      clear: left;
    }
    .wobble_container {
      margin-bottom: 10px;
      div {
        min-height: 0;
      }
      .text_align.center {
        clear: both;
        text-align: center;
        a {
          margin: 0;
          margin-top: 20px;
        }
      }
    }
    .voc_link{
      .btn{
        font-size: 17px;
      }
    }
  }

  .intro {
    position: relative;
    img {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      width: 620px;
    }

  }

  .description {
    display: none;
  }
  .excerpt {
    border-top: 3px solid $lighter_blue;
    border-bottom: 1px solid $lighter_blue;
    padding: 25px 0 10px 0;
    margin: 470px 0 25px;
    p, .see_more a {
      line-height: 160%;
      padding-left: 15px;
    }
    .see_more a#read_more {
      display: inline-block;
    }
  }

  .block {
    border-top: 2px solid $blue;
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    @include box-shadow(1px 3px 3px $light_gray );


    .title {
      font-weight: bold;
      float: left;
      max-width: 165px;
      width: 165px;
    }

    .block_arrow {
      float: left;
    }

    .btn {
      margin: 15px 0 0 10px;
    }
  }

  .count {
    font-size: 90%;
  }

  .head_info {
    background: #fff;
    border-top: 3px solid $blue;
    border-bottom: 1px solid $blue;
    margin: 0 0 0 -10px;
    padding: 15px 30px 15px 10px;
    .grid_3.prefix_5.omega {
      position: relative;
      right: -44px;
    }
  }
  
  .count, .arrow {
    float: left;
    margin: 10px 5px 0 0;
    display: block;
  }

  .count {
    margin-top: 12px;
  }

  .arrow {
    width: 20px;
    height: 20px;

    a {
      cursor: pointer;
      text-indent: -4000em;
      width: 20px;
      height: 20px;
      display: block;
    }
  }

  .arrow.next a {
    background: url(/assets/archive_arrow_right.png) no-repeat 0px 0px;
  }
  .arrow.next.inactive {
    background: url(/assets/archive_arrow_right.png) no-repeat 0px -20px;

    a {
      display: none;
    }
  }

  .arrow.previous a{
    background: url(/assets/archive_arrow_left.png) no-repeat 0px 0px;
  }
  .arrow.previous.inactive {
    background: url(/assets/archive_arrow_left.png) no-repeat 0px -20px;

    a {
      display: none;
    }
  }

  .articles {
    margin-top: 50px;
  }
  
  .article {
    border-bottom: 1px solid $light_gray;
    margin-bottom: 15px;
    padding-bottom: 25px;
    font-size: 95%;

    img {
      float: right;
    }

    .title {
      text-transform: uppercase;
    }

    .date {
      margin:5px 0 15px;
    }
    .see_more {
      text-transform: uppercase;
      font-weight: 800;
   }
  }

  .article_count {
    border-top: 1px solid $blue;
    margin: 0 0 35px 100px;
  }
  
  .see_more{

    span {
      display: block;
      float: left;
    }

    .next_link{ 
      background: url(/assets/next_bg.png) 0px 0px no-repeat;
      height: 10px;
      width: 10px;
      float: left;
      margin: 4px 0 0 4px;
    }

    a:hover .next_link {
      background: url(/assets/next_bg.png) 0px -10px no-repeat;
    }
  }

  &.archive {
    a.title {
      font-weight: normal;
    }
    .article .sprite {
      float: right;
    }
    .excerpt {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

}

.ie7 .issues.show {
  .wobble_container .text_align.center {
    width:300px;
  }
}
