// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.pages {
  #about { 
    p, .text { line-height: 1.6em }
    img { width: 100% !important; }
    h1 { margin: 0 0 .5em 0; }
    .us { margin-bottom: 3em; -webkit-box-shadow: inset 0 4px 4px gray }
    .grid_8 h2 { border: none !important; display: inline !important; font-size: 1.2em; padding-left: 0; }
    .our_platforms li, .our_platforms ul { margin: 1em 0; padding: 0 !important; list-style-type: none; }
    .our_platforms p { margin: .5em 0; }
    .our_platforms { margin: 2em 0; }
    li { clear: both; margin: 1em 0 !important; overflow: hidden; }
    .our_platforms .head { font-family: "Folk-solid"; font-size: 1.7em; font-weight: 300; text-transform: uppercase; color: $green; }
    .our_council, .our_team { 
      padding-bottom: 2em;
      h2 { font-family: "Folk-solid"; font-size: 2em; text-transform: uppercase; color: $green; font-weight: 300}
     
    }
  }

  h1 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 16px;
  }

  li {
    font-size: 15px;
    line-height: 140%;
  }

  &.show {
    p {
      padding: 0 10px 10px 0;
      &.noindent {
        padding: 0;
      }
    }
    h3 {
      padding: 0 0 0 10px;
      &.noindent {
        padding: 0;
      }
    }
  }

  .grid_8 {
    h2 {
      border-top: 2px solid $lighter_blue;
      border-bottom: 1px solid $lighter_blue;
      text-transform: uppercase;
      font-size: 20px;
      padding: 10px;
    }
    h3 { 
      font-size: 16px; 
      margin-bottom: 5px;
    }
  }

  .grid_8.trabalhe {
    padding-left:10px;
    padding-bottom:40px;
  }

  .speech_bubble_container .speech_bubble p.date {
    color: #595959;
  }

  .trabalhe {
    .speech_bubble_container a{
      font-weight:normal;
    }
    p {
      margin-bottom: 0px;
    }

    .job {
      padding:20px;
      border-top:1px solid $blue;
      a.title {
        font-size: 18px;
      }
      a.toggle_icon {
        float:right;
        display:block;
        width:20px;
        height:20px;
      }
      .description {
        display:none;
        margin-top:20px;
      }
      &:last-child {
        border-bottom:1px solid $blue;
      }
    }
    .job.open a.toggle_icon{
      background-image:url(/assets/orange_collapse_icon.png);
    }
    .job.closed a.toggle_icon{
      background-image:url(/assets/orange_open_icon.png);
    }
    .sidebar {
      width:235px;
      margin-left:25px;
      padding:25px 20px 10px 20px;
      border-top:2px solid $blue;
      background-color: #fff;
      @include border-radius(0 0 3px 3px);
      @include box-shadow(0px 2px 2px $light_gray);
    }
  }



  #back_to_top {
    display: block;
    margin-top: 25px;
  }

  #join_meu_rio {
    text-align: center;
    padding: 0;
    p {
      position: relative;
      font-weight: bold; 
      color: $dark_gray;
      .btn {
        left: 20px;
        top: 6px;
      }
      .sprite.arrow-down {
        position: absolute;
        left: 41px;
        top: 22px;
      }
    }
  }

  #quem_somos {
    > a {
      padding-left: 10px;
    }
    h2 {
      font-family: Folk-solid;
    }
    p {
      padding-left: 10px;
    }
  }

  #quote_container {
    .sprite {
      margin: 19px 10px 0px 10px;
      padding: 0;
      &.facebook {
        margin-left: 25px;
      }
      &.orkut {
        top: -6px;
      }
    }
  }

  #what_you_can_do {
    margin-bottom: 30px;
    padding-bottom: 20px;
    h2 {
      font-family: 'Akagi-book';
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      margin: 15px 10px;
      text-transform: uppercase;
      &.grid_12 {
        margin-left:0;
        letter-spacing:1px;
        color:#595959;
        font-size:24px;
        font-family: 'Folk-solid';
      }
      em {
        display:block;
        font-size:24px;
        font-style:normal;
      }
    }
    >img {
      float: right;
      margin: 0 0 10px 10px;
    }
    .wobble_container {
      width: 302px;
      header {
        p {
          font-size: .9em;
          margin: 10px 15px 0 10px;
          em {
            display: block;
            font-size: 1.1em;
            font-style: normal;
          }
        }
      }
      &.alpha {
        margin-right: 7px;
      }
      &.omega {
        margin-left: 7px;
      }
    }
    .feature {
      padding: 0 20px;
      p.title { font-weight: bold; }
      img {
        float: right;
        width: 50px;
        margin: 0 0 10px 10px;
      }
      p.description {
        height: 150px;
      }
    }
    .omega {
      .feature {
        background: url("debate_divider.png") repeat-y right;
        padding-left: 0;
      }
    }
    .alpha {
      .feature {
        background: url("debate_divider.png") repeat-y left;
        padding-right: 0;
      }
    }
  }

  .donate {
    ul {
      margin: 0.25em 0 .75em 1em;
    }
    li {
      margin-left: 0px;
    }
  }

}




