// Place all the styles related to the tafs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tafs {
  // Place scoped styles here
}