$blue: #2cbae2;
$dark_gray: #595959;
$dark_green: #159148;
$green: #40A468;
$orange: #ef803b;
$light_blue: #6acbe6;
$lighter_blue: #5ec8e5;
$light_gray: #c2c2c2;
$lighter_gray: #f8f8f8;
$mid_gray: #404040;
$pink: #df499a;
$red: #b30300;
$light_green: #dfefe4
