/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require 960.css
 *= require style
 *= require_self
 *= require_tree . 
*/

/*
 * Elements are ordered by lowest specificity first,
 * then alphabetically (e.g., elements, classes, ids)
 * Alphabetical ordering makes order predictable.
 * Specificity based ordering keeps code concise, organized,
 * and lowers risk of having to use !important. 
 * Together, they eliminate arbitrary and confusing grouping schemes.
 * -DP
 */

@import "vars.css.scss";
@import "mixins.css.scss";

header, footer, nav, section, article { display: block; }

a {
  text-decoration: none;
  color: $blue;
  &:hover{ color: $pink; text-decoration:none; }
}

.no_bold {font-weight:normal !important;}

body {
  background: #e1e1d9 url(/assets/bg-test.jpg) no-repeat bottom center fixed;
  height: 100%;
  width: 100%;
  font-family: 'Akagi-Book', Helvetica, Ariel, sans-serif;
  &.background_blue {
    background-image: url(/assets/background_blue.png);
  }
  &.background_green {
    background-image: url(/assets/background_green.png);
  }
  &.background_orange {
    background-image: url(/assets/background_orange.png);
  }
  &.background_pink {
    background-image: url(/assets/background_pink.png);
  }
}

.messages {
  padding:10px;
  color:#fff;
  font-size:15px;
  background-color: $green;
  .grid_11{
    padding-top:3px;
    padding-left:20px;
  }
  .grid_1 {
    line-height:0;
    a {
      margin-left:24px;
    }
  }
}

body > header {
  background: white;
  margin-bottom: 10px;
  min-height: 127px; // Avoid page jump if the logo is slow to load
  padding:10px !important; // Override 960.gs
  position: relative;
  @include border-radius(0 0 8px 8px);
  &.container_12 {
    .grid_3.prefix_7 {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
  .join_login_wrap {
    text-align: right;
    font-size: 15px;
    margin-right: 6px;
  }
  .member_panel{
    text-align: center;
    position: relative;
    p { 
      font-size: 13px;
      margin: 0 0 0 10px;
      text-align: center;
    }
    img { margin-left: 10px; }
    padding: 10px;

    .info {
      border-left: 1px solid #fff;
      padding-left: 10px;
    }

    .arrow {
      width: 12px;
      height: 7px;
      background: url(/assets/arrows.png) 0px 0px no-repeat;
      margin-left: 5px;

    }
    .right.info:hover .arrow {
      background: url(/assets/arrows.png) 0px -7px no-repeat;
    }
  }
  .active {
    background-color: $orange;
    opacity: 0.8;
    @include border-radius(5px 5px);
    z-index: 250;
    a {
      color: #fff;
      &:hover { color: $pink; }
    }
    .arrow {
      background: url(/assets/arrows.png) 0px -14px no-repeat;
    }
  }
  .flyout {
    display: none;
    padding: 5px 0 0 0;
    height: 100%;
    font-weight: 600;
    p {
      text-align: left;
    }
  }
  .logo {
    background-color: transparent;
  }
}

// Fix for odd extra pixel showing up when you're on the issue page
body.issues nav#primary .issue_menu { right:9px; }

body > #main { // the specificity of this selector is overreaching (see below)
  background: white;
  @include border-radius(8px);
  padding: 10px 10px;
  position: relative;
  margin-bottom: 10px;
  p {
    font-size: 15px;
    line-height: 140%;
  }
  .speech_bubble p {
    // This is required here because the high specificity of #main causes any
    // font-size setting in the .speech_bubble group below to get overridden
    font-size: .9em;
  }
}

body > footer {
  color: $dark_gray;
  margin-top: 25px;
  nav {
    a, a:visited {
      text-transform: uppercase;
      margin: 0px 15px;
      color: $dark_gray;
      &:hover{color: $pink;}
    }
  }
  .social {
    font-weight: bold;
    a {
      display: inline-block;
      float: right;
      margin: -5px 0 0 5px;
    }
  }
}

h1 {
  font-family: Folk-solid;
  text-transform: uppercase;
  color: $green;
  letter-spacing: 1.5px;
  font-size: 180%;
  position: relative;
  font-weight: normal;
  .outline{
    font-family: Folk-outline;
    color: #666;
    position: absolute;
    top: 0px;
    left: -2px;
  }
}

h2 {
  font-weight: normal;
}

html.ie {
  nav#primary {
    div.issue_menu_wide li {
      margin-bottom: 5px;
    }
    li.issue_menu_wrap{
      .issue_menu {
        margin-right: 1px;
      }
    }
  }
}

input[type="text"], textarea {
  border: 2px solid $light_gray;
  &:focus{
    border-color: $orange;
  }
}

label.error{ font-size: 90%; }

nav#primary {
  bottom: 17px;
  color: $dark_gray;
  float: right;
  font-weight: bold;
  margin-top: 105px;
  li {
    float:left;
    position:relative;
    a.top_level {
      display:inline-block;
      padding: 0 15px 7px;
      margin: 0px 5px;
      line-height:2;
      color: $dark_gray;
      font-size: 16px;
      &.last { margin-right: 0; }
      &.selected,&:hover,&:focus {
        background: url(/assets/nav_hover_underline.png) no-repeat center bottom;
        outline: 0 none !important;
      }
    }
  }
  li.issue_menu_wrap{
    position:relative;
    z-index: 225;
    &:hover {
      .issue_menu.wide, .issue_menu.small, roundrect {
        visibility: visible;
      }
      >a {
        color:#fff;
        background-color: #ed7e43;
        background-color: rgba(237, 126, 67, .9);
      }
    }
    
    >a {
      @include border-radius(5px 5px 0 0);
      &:hover {
        background-image: none;
        color: #fff;
      }
    }
    .issue_menu {
      background-color: #ed7e43;
      background-color: rgba(237, 126, 67, .9);
      @include border-radius(5px 0 5px 5px);
      font-weight: normal;
      min-height: 100px;
      position: absolute;
      padding: 15px 10px;
      right: 9px; // See comment below about odd 1px bug for issues page
      visibility: hidden;
      z-index: 100;
      &.wide {
        width: 410px;
        z-index: 201; // This is 201 because .issue_name was overlapping at 200 
      }
      &.small {
        width: 240px;
        .thumbnails {
          padding-right: 0;
        }
      }
      .thumbnails {
        float: left;
        padding-right: 10px;
        li.issue_pane {
          width: 100px;
          padding: 0 10px;
          a {
            font-size: 13px;
            color: #fff;
            padding: none;
            &:hover {
              color: $pink;
            }
            img {
              width: 100px;
              height: 75px;
            }
          }
        }
      }
      .list {
        float: left;
        padding-left: 15px;
        width: 130px;
        min-height: 100px;
        border-left: 1px solid #fff;
        span {
          display: block;
          padding-bottom: 5px;
          line-height: 12px;
          font-size: 12px;
          color: #fff;
        }
        ul {
          padding-left: 10px;
          li.issue_pane {
            a {
              display: block;
              width: 130px;
              font-size: 12px;
              color: #fff;
              &:hover {
                color: $pink;
              }
              span {
                color:inherit;
                display:inline;
                font-size:14px;
              }
            }
          }
        }
      }
    }
  }
  .moip {display:none;}
  roundrect {
    visibility: hidden;
  }
}

textarea.error, input.error, select.error { border-color: $red !important; }

.Akagi-Book { font-family: Akagi-Book; }
.Akagi-Light { font-family: Akagi-Light; }

.clear_left {clear:left;}
.clear_right {clear:right;}

.Folk-solid { font-family: Folk-solid; }

.left { float: left }
.right { float: right }

.small {font-size: 10.5px;}
.text_align {
  &.center {
    text-align: center;
  }
}

.btn, .btn.disabled, a.btn{
  // Almost all properties are !important because activeadmin's CSS is trying overriding this class
  background: $orange url(/assets/bg_btn.gif) repeat-x center center !important;
  @include border-radius(10px !important);
  border: none;
  @include box-shadow(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px $light_gray);
  color: #fff !important;
  font-family: Folk-solid;
  font-size: 20px;
  text-transform: uppercase !important;
  text-decoration: none !important;
  text-align: center !important;
  padding: 7px 15px 13px !important;
  position: relative;
  line-height: 100%;
  letter-spacing: 1px;
  margin: 0;
  display: inline-block;
  &:hover {
    background: $pink url(/assets/bg_btn-active.gif) repeat-x center center !important;
    cursor: pointer !important;
    text-decoration: none !important;
  }
  &:active {
    /*
    background: $red !important;
    background: -moz-linear-gradient(top, lighten($pink, 15%) 0%, lighten($pink, 5%) 100%) !important;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten($pink, 15%)), color-stop(1, lighten($pink, 5%))) !important;
    */
    color: #fff;
    @include box-shadow(inset 0px 0px 1px 1px rgba(255, 115, 100, 0.4) !important);
  }
  &:visited {
    color: #fff;
  }
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:active{
  /*
  background: $mid_gray !important;
  background: -moz-linear-gradient(top, lighten($mid_gray, 20%) 0%, $mid_gray 100%) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten($mid_gray, 20%)), color-stop(1, $mid_gray)) !important;
  */
  @include box-shadow(inset 0px 0px 0px 1px $mid_gray, 0 1px 3px #333 !important);
}

.btn.small, a.btn.small {
  font-size: 10px;
  padding: 5px 7px 8px !important;
}

/* General dropdown styles */       
.dropdown {
  margin: 0 0 0 20px; 
  padding: 0px;
  width: 276px;
  dd, dt, ul { margin: 0px; padding: 0px; }
  dd {
    position: relative;
    margin-top: -3px;
  }
  dt {
    display: block;
    padding: 0px 20px 0px 10px;
    border: none;
    color: $dark_gray;
    cursor:pointer;
    span {
      cursor: pointer;
      display: block;
      padding: 7px 5px 5px;
    }
  }
  dd ul { 
    border: 1px solid $light_gray;
    border-top: 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background: $lighter_gray none repeat scroll 0 0;
    display: none;
    left: 0px;
    list-style: none;
    min-width: 269px;
    padding: 8px 0 5px 0;
    position: absolute; 
    top: 28px;
    width: auto;
    z-index: 1;
  }
  span.value { display:none;}
  dd ul li {
    margin-left: 0;
    padding-left:10px;
  }
  dd ul li a {
    border-top: 1px solid $light_gray;
    display: block;
    margin: 0 10px 0 0;
    min-height: 19px;
    padding: 10px 5px;
    &:hover {
      color: $pink;
    }
  }
}

.issue_name {
  text-transform: uppercase;
  color: $blue;
  font-size: 14px;
  font-family: Akagi-Book;
  padding-top: 10px;
  position: relative;
  z-index: 200;
}

.speech_bubble_container {
  background: url(/assets/widget-container-green-arrow-bottom.gif) no-repeat bottom left;
  clear: right;
  float: right;
  min-height: 140px;
  position: relative;
  width: 301px;
  .speech_bubble_top {
    background: url(/assets/widget-container-green-arrow-top.gif) no-repeat top left;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: inherit;
  }
  .speech_bubble {
    float: left;
    margin: 15px 20px 15px 25px;
    padding-left: 10px;
    position:relative;
    width: auto;
    a {
      font-weight: bold;
      img { 
        width: 32px; 
        &:hover {
          opacity: 0.8;
        }
      }
    }
    h3 {
      color: #40a468;
      text-transform: uppercase;
      font-family: Folk-solid; 
      font-size: 1.2em;
      margin-bottom: 5px;
    }
    p {
      margin: 5px 0;
    }
    p.date { color: $pink; }
    dl dd ul li a {
      font-weight: normal;
    }
  }
  &.orange {
    background: url(/assets/widget-container-orange-arrow-bottom.gif) no-repeat bottom left;
    min-height: 80px;
    width: 299px;
    .speech_bubble_top {
      background: url(/assets/widget-container-orange-arrow-top.gif) no-repeat top left;
      height: 53px;
    }
    .speech_bubble h3 {
      color: #fff;
      font-family: Folk-solid;
    }
  }
  &.gray {
    background: url(/assets/widget-container-gray-bottom.png) no-repeat bottom left;
    min-height: 80px;
    width: 275px;
    .speech_bubble_top {
      background: url(/assets/widget-container-gray-top.png) no-repeat top left;
      height: 53px;
      top: -30px;
    }
    .speech_bubble h2 {
      color: $orange;
      font-size: 1.3em;
      margin-bottom: 5px;
      margin-top: -20px;
    }
    .speech_bubble h3 {
      color: #fff;
      font-family: Folk-solid;
    }
  }
  &.gray_big {
    background: url(/assets/widget-container-gray-big-bottom.png) no-repeat bottom left;
    margin: 30px 0px 15px 25px;
    min-height: 55px;
    width: 461px;
    h3 {
      color: $dark_gray;
      font-family: 'Akagi-Book';
      font-size: .9em;
      text-transform: none;
    }
    .speech_bubble_top {
      background: url(/assets/widget-container-gray-big-top.png) no-repeat top left;
      height: 83px;
      top: -30px;
    }
    .speech_bubble h2 {
      color: $orange;
      font-size: 1.3em;
      margin-bottom: 5px;
      margin-top: -30px;
    }
    .speech_bubble h3 {
      color: #fff;
      font-family: Folk-solid;
      .share_text {
        strong {
          font-size: .8em;
        }
      }
    }
    &.taf {
      a {
        float: left;
        margin: 5px 10px 0 0;
      }
      .speech_bubble {
        margin: -16px 20px 15px 25px;
      }
    }
  }
}

.sprite {
  background-image: url('/assets/sprite.png');
  float: left;
  position: relative;
}

.sprite.arrow-down {
  background-position: -298px -125px;
  height: 37px;
  width: 35px;
}

.sprite.balloon_left {
  background-position: 0px -288px;
  height: 116px;
  width: 353px;
}

.sprite.balloon_right {
  background-position: -10px -415px;
  height: 116px;
  width: 353px;
}

.sprite.comments_arrow {
  background-position: -10px -84px;
  height: 44px;
  width: 22px;
}

.sprite.comments_tooltip {
  background-position: -99px -98px;
  height: 22px;
  width: 28px;
}

.sprite.comments_tooltip_large {
  background-position: -49px -95px;
  height: 29px;
  width: 37px;
}

.sprite.debate {
  background-position: -151px -140px;
  height: 47px;
  width: 60px;
}

.sprite.dropdown_archive {
  background-position: -10px -205px;
  height: 32px;
  width: 274px;
}

.sprite.dropdown_petition {
  background-position: -10px -243px;
  height: 32px;
  width: 163px;
}

.sprite.facebook {
  background-position: -54px -10px;
  height: 20px;
  width: 58px;
}

.sprite.facebook_small {
  background-position: -54px -34px;
  height: 24px;
  width: 24px;
}

.sprite.little_blue_bubble {
  background-position: -299px -168px;
  height: 27px;
  width: 34px;
}

.sprite.logo {
  background-position: -191px -4px;
  height: 122px;
  width: 100px;
  margin-top: 10px;
}

.sprite.orkut {
  background-position: -10px -10px;
  height: 31px;
  width: 31px;
}

.sprite.orkut_small {
  background-position: -88px -34px;
  height: 24px;
  width: 24px;
}

.sprite.personal_story {
  background-position: -10px -136px;
  height: 48px;
  width: 59px;
}

.sprite.petition {
  background-position: -88px -135px;
  height: 51px;
  width: 59px;
}

.sprite.twitter {
  background-position: -122px -10px;
  height: 20px;
  width: 55px;
}

.sprite.twitter_small {
  background-position: -122px -34px;
  height: 25px;
  width: 24px;
}

.sprite.video {
  background-position: -10px -135px;
  height: 56px;
  width: 68px;
}

.wobble_container {
  overflow: hidden;
  width: 302px;
  >div {
    background: url(/assets/widget-container-green-body.gif) repeat-y scroll left top transparent;
    float: left;
    min-height: 200px;
    padding-top: 15px;
    >.icon {
      float: right;
      margin: 10px;
    }
    >p {
      margin: 10px 5px 0 15px;
    }
    a {
      font-weight: bold;
      margin: 15px;
    }
  }
  header {
    background: url(/assets/widget-container-green-top.gif) repeat-y scroll 0 0 transparent;
    float: left;
    width: 302px; // Redundancy to override overridden width inheritance from parent <section> 
    p {
      color: #FFFFFF;
      /* important used here to override high specificity global rule set somewhere else: 
       * body > #main p { font-size: 15px; }
       * TODO: change font sizes to use em instead of px 
       */
      font-family: Folk-solid;
      font-size: 28px !important;
      font-weight: bold;
      line-height: 1.1em;
      margin: 5px 15px 5px 5px;
      text-transform: uppercase;
    }
  }
  p {
    padding-left: 10px;
  }
  footer {
    background: url(/assets/widget-container-green-bottom.gif) repeat-y scroll left bottom transparent;
    float: left;
    min-height: 35px;
    width: 100%;
  }
}

#join_us_btn { padding-right: 20px }
