/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "vars.css.scss";
@import "mixins.css.scss";

.left { float: left }
.right { float: right }

body > header {
  position: relative;
  padding: 10px 0;
  background: #f2f0ed;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  .member_panel{
    text-align:right;
    p { margin: 0; }
    img { margin-left: 10px; }
  }
}

body > header > nav {
  text-align: right;
  font-size: 125%;
  color: $dark_gray;
  position: absolute;
  padding: 10px;
  right: 10px;
  bottom: 0;
  a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 0px 15px 25px;
    margin: 0px 5px;
    font-weight: bold;
    color: $dark_gray !important;
  }
  a.last { margin-right: 0; }
  a.selected, a:hover { background: url(/assets/nav_hover_underline.png) no-repeat top left; }
}

body > #main {
  background: #f2f0ed;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#facebox .popup .content {
  text-align: center;
  display: block;
}

.facebook_btn, .orkut_btn, .twitter_btn, .email_btn {
  img {
    width: 48px;
    &:hover {
      @include scale(1.1, 0);
    }
  }
}

.btn{
  // Almost all properties are !important because activeadmin's CSS is trying overriding this class
  background: #c63929 !important;
  background: -moz-linear-gradient(top, #ed894b 0%, #dc6837 100%) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ed894b), color-stop(1, #dc6837)) !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333 !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333 !important;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333 !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  text-align: center !important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .8) !important;
  padding: 10px !important;
  margin: 0 !important;
  display: inline-block !important;
  &:hover {
    background: #cb0500 !important;
    background: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%) !important;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601)) !important;
    cursor: pointer !important;
  }
  &:active{
    background: #b30300 !important;
    background: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%) !important;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00)) !important;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4) !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4) !important;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4) !important;
  }
}

input[type="text"], textarea {
  border: 2px solid $light_gray;
  &:focus{
    border-color: $orange;
  }
}

textarea.error, input.error, select.error { border-color: $pink !important; }
label.error{ font-size: 90%; }

h1 {
  font-family: Folk-solid !important;
  text-transform: uppercase;
  color: $green !important;
  letter-spacing: 1.5px !important;
  font-size: 34px !important;
  position: relative;
  font-weight: normal !important;
  .outline{
    font-family: Folk-outline;
    color: #666;
    position: absolute;
    top: 0px;
    left: -2px;
  }
}
