/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require 960.css
 *= require style
 *= require_self
 *= require_tree . 
*/

@import "vars.css.scss";
@import "mixins.css.scss";

.left { float: left }
.right { float: right }

body > header {
  position: relative;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin-bottom: 12px;
  background: white;
  @include border-radius(0 0 8px 8px);
  .member_panel{
    text-align:right;
    p { margin: 0; font-size: 14px; }
    img { margin-left: 10px; }
  }
}

nav#main {
  float:right;
  margin-top:60px;
  color: $dark_gray;
  a:hover { text-decoration:none; }
  li {
    float:left;
    position:relative;
    a.top_level {
      display:inline-block;
      padding: 0px 15px;
      margin: 0px 5px;
      line-height:2;
      color: $dark_gray;
      font-weight: bold;
      font-size: 16px;
      &:hover { color: $pink;}
    }
    a.top_level.last { margin-right: 0; }
    a.top_level.selected,a.top_level:hover {
      background: url(/assets/nav_hover_underline.png) no-repeat center bottom;
    }
  }
  li.issue_menu_wrap{
    &:hover {
      .issue_menu.wide, .issue_menu.small{
        visibility:visible;
      }
      >a {
        color:#fff;
        background-color:rgba(237, 126, 67, .9);
      }
    }
    position:relative;
    >a {
      @include border-radius(5px 5px 0 0);
      &:hover {
        background-image:none;
        color:#fff;
      }
    }
    .issue_menu{
      &.wide{
        width:410px;
      }
      &.small{
        width:240px;
        .thumbnails{
          padding-right:0;
        }
      }
      visibility:hidden;
      position:absolute;
      padding:15px 10px;
      right:8px; // See comment below about odd 1px bug for issues page
      z-index:100;
      background-color:rgba(237, 126, 67, .9);
      @include border-radius(5px 0 5px 5px);

      min-height:100px;
      .thumbnails {
        float:left;
        padding-right:10px;
        li.issue_pane {
          width:100px;
          padding:0 10px;
          a {
            font-size:13px;
            color:#fff;
            padding:none;
            img {
              width:100px;
              height:75px;
            }
          }
        }
      }
      .list {
        float:left;
        padding-left:15px;
        width:130px;
        min-height:100px;
        border-left:1px solid #fff;
        span{
          display:block;
          padding-bottom:5px;
          line-height:12px;
          font-size:12px;
          color:#fff;
        }
        ul {
          padding-left:10px;
          li.issue_pane {
            a {
              display:block;
              width:130px;
              font-size:12px;
              color:#fff;
            }
          }
        }
      }
    }
  }
}

// Fix for odd extra pixel showing up when you're on the issue page
body.issues nav#main .issue_menu { right:9px; }

body > .main {
  background: white;
  @include border-radius(8px);
  padding: 10px 10px;
  position: relative;

  p {
    font-size: 15px;
    line-height: 140%;
  }
}

footer {
  margin-top: 25px;
  nav {
    a { 
      text-transform: uppercase;
      margin: 0px 15px;
      color: $dark_gray;
    }
  }
  .social {
    p {
      font-weight: bold;
      float: left;
      margin-left: 40px;
      text-transform: uppercase;
    }
    a {
      display: block;
      float: left;
      margin: -5px 5px 0;
    }
  }
}

.btn, .btn.disabled, a.btn{
  // Almost all properties are !important because activeadmin's CSS is trying overriding this class
  background: #dc6837 !important;
  background: -moz-linear-gradient(top, lighten(#dc6837, 20%) 0%, #dc6837 100%) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten(#dc6837, 20%)), color-stop(1, #dc6837)) !important;
  @include border-radius(10px !important);
  border: none;
  @include box-shadow(inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px $light_gray !important);
  color: #fff !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  text-align: center !important;
  text-shadow: 0 0 1px black !important;
  padding: 10px !important;
  line-height: 100%;
  margin: 0;
  display: inline-block;
  &:hover {
    background: $pink !important;
    background: -moz-linear-gradient(top, lighten($pink, 20%) 0%, $pink 100%) !important;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten($pink, 20%)), color-stop(1, $pink)) !important;
    cursor: pointer !important;
    text-decoration: none !important;
  }
  &:active{
    background: #b30300 !important;
    background: -moz-linear-gradient(top, lighten($pink, 15%) 0%, lighten($pink, 5%) 100%) !important;
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten($pink, 15%)), color-stop(1, lighten($pink, 5%))) !important;
    @include box-shadow(inset 0px 0px 1px 1px rgba(255, 115, 100, 0.4) !important);
  }
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:active{
  background: $mid_gray !important;
  background: -moz-linear-gradient(top, lighten($mid_gray, 20%) 0%, $mid_gray 100%) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, lighten($mid_gray, 20%)), color-stop(1, $mid_gray)) !important;
  @include box-shadow(inset 0px 0px 0px 1px $mid_gray, 0 1px 3px #333 !important);
}

input[type="text"], textarea {
  border: 2px solid $light_gray;
  &:focus{
    border-color: $orange;
  }
}

textarea.error, input.error, select.error { border-color: $pink !important; }
label.error{ font-size: 90%; }

h1 {
  font-family: Folk-solid !important;
  text-transform: uppercase;
  color: $green !important;
  letter-spacing: 1.5px !important;
  font-size: 180% !important;
  position: relative;
  font-weight: normal !important;
  .outline{
    font-family: Folk-outline;
    color: #666;
    position: absolute;
    top: 0px;
    left: -2px;
  }
}

a {
  text-decoration: none;
  color: $blue;
  &:hover{ text-decoration: underline; color: $pink; }
}

#join_us_btn { padding-right: 20px }

.issue_name {
  text-transform: uppercase;
  color: $blue;
  font-size: 14px;
  font-family: Akagi-Book;
  padding-top: 10px;
}

.small {
  font-size: 10.5px;
}
