// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.debates {
  .comments {
    background: white;
    @include border-radius(4px);
    padding: 30px 24px;
    h3 {
      color: $orange;
      font-size: 18px;
      border-bottom: 3px solid $blue;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    img#comments_arrow {
      position: absolute;
      top: 46px;
      left: 15px;
    }
    .previous_comments {
      margin-bottom: 15px;
    }
    .subtitle {
      padding: 0 20px 10px 0px;
      border-bottom: 1px solid $blue;
      #join_the_coversation {
        font-size: 18px;
        font-weight: normal !important;
      }
    }
    .comment {
      padding: 24px; 
      border-bottom: 1px solid $light_gray;
      .right_column {
        width: 610px;
        float: left;
        p {
          margin: 0;
        }
        p.content {
          margin-bottom: 10px;
        }
      }
      img.member_image { 
        width: 50px;
        margin-right: 24px;
        float: left;
      }
      img#flag_loading {
        width: 12px;
      }
    }

    .join_the_conversation, .comment_login {
      padding-left: 20px;
      float: left;
    }

    #close {
      margin-top: 15px;
      float: right;
      cursor: pointer;
    }
    #load_more {
      text-transform: uppercase;
      font-size: 95%;
      cursor: pointer;
      float: right;
      background: url(/assets/load_more_plus.png) top right no-repeat;
      padding-right: 25px;

      &:hover {
        color: $pink;
      }
    }
    form {
      padding: 24px;
      img { 
        float: left;
        margin-right: 24px;
      }
      textarea {
        width: 588px;
        height: 100px;
      }
      .btn {
        float: right !important;
      }
    }
  }

  .share{
    float:left;
  }

  .debate_header{
    background: white;
    @include border-radius(4px);
    padding: 20px;
    margin: 10px 0;
    @include box-shadow(gray 0px 0 5px 1px);
    h2{
      color: $orange;
      text-align: center;
    }
    .date{
      width: 47%;
      float: left;
      text-align: right;
      line-height: 2em;
    }
    .comments_counter{
      width: 47%;
      float: left;
      line-height: 2em;
      a.comments_link:hover{
        text-decoration: none !important;
      }
    }
    .little_ball{
      width: 6%;
      line-height: 1em;
      text-align: center;
      float:left;
      font-size: 200%;
      font-weight: bold;
    }
    .comments_tooltip{
      display: inline-block;
      float: none;
    }
  }
  .comments_tooltip {
    border: 2px solid $pink;
    color: $pink;
    padding: 3px;
    padding-bottom: 0;
    @include border-radius(4px);
    line-height: 100%;
    font-weight: bold;
    float: right;
  }
  .authors{
    margin: 20px 0;
    background: url("/assets/debate_divider.png") repeat-y center;
    .author1, .author2 {
      width: 45%;
      p { margin-bottom: 5px; }
      p.name{
        color: $blue;
        font-size: 150%;
      }
      p.bio { margin-bottom: 20px; }
      .balloon{
        .content{
          width: 230px;
          color: white;
          padding: 10px;
          @include border-radius(10px);
        }
      }
    }
    .author1 { 
      float: left;
      text-align: right;
      .balloon { 
        float: left;
        padding-right: 12px;
        background: url("/assets/debate_quote_balloon_left.png") no-repeat right 20px;
        .content{
          background: #e574b0;
        }
      }
    }
    .author2 {
      float: right;
      .balloon { 
        float: right; 
        padding-left: 12px;
        background: url("/assets/debate_quote_balloon_right.png") no-repeat left 20px;
        .content {
          background: #f19d68;
        }
      }
    }
  }
  .quotes { margin-bottom: 20px; }
  .texts { text-align: justify; }
}
