// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.debates {
  .addthis_button img {
    padding-left: 16px;
  }

  #comment_area{
    padding-top: 29px;
  }

  h2 {
    font-size: 26px;
  }
  .comments {
    background: white;
    @include border-radius(4px);
    padding: 30px 24px;
    h3 {
      color: $orange;
      font-size: 18px;
      border-bottom: 3px solid $blue;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    img#comments_arrow {
      position: absolute;
      top: 75px;
      left: 15px;
    }
    .previous_comments {
      margin-bottom: 15px;
    }
    .top_buttons{
    }
    .subtitle {
      padding: 0 20px 10px 0px;
      border-bottom: 1px solid $blue;
      #join_the_coversation {
        font-size: 18px;
        font-weight: normal !important;
      }
      
      .comments_tooltip {
        margin-top: -3px;
      }
    }
    .comment {
      padding: 24px; 
      border-bottom: 1px solid $light_gray;
      .right_column {
        width: 610px;
        float: left;
        p {
          margin: 0;
        }
        p.content {
          margin-bottom: 10px;
        }
      }
      img.member_image { 
        width: 50px;
        margin-right: 24px;
        float: left;
      }
      img.flag_loading {
        width: 12px;
      }
      .date {
        color: #595959;
      }
    }

    .join_the_conversation, .comment_login {
      padding-left: 20px;
      float: left;
    }
    .subtitle .comment_login {
      margin-top: 3px;
    }

    img.new_comment_loading {
      padding-left: 5px;
      width: 15px;
    }

    #close {
      margin-top: 15px;
      float: right;
      cursor: pointer;
    }

    .load_more {
      text-transform: uppercase;
      font-size: 95%;
      float: right;
    }

    .load_more_link {
      cursor: pointer;
      background: url(/assets/orange_open_icon.png) top right no-repeat;
      padding: 3px 25px 0 0;

      &:hover {
        color: $pink;
      }
    }
    form {
      padding: 24px;
      img { 
        float: left;
        margin-right: 24px;
      }
      textarea {
        width: 588px;
        height: 100px;
      }
      .btn {
        float: right !important;
        margin-right: 5px;
      }
    }
  }

  .share{
    float:left;
  }

  .debate_header{
    background: white;
    @include border-radius(4px);
    padding: 20px;
    margin: 10px 0;
    @include box-shadow(#dddcdc 0px 0 5px 1px);
    h2{
      color: $orange;
      text-align: center;
    }
    .date{
      width: 47%;
      float: left;
      text-align: right;
      line-height: 2em;
    }
    .comments_counter{
      width: 47%;
      float: left;
      line-height: 2em;
      a.comments_link:hover{
        text-decoration: none !important;
      }
    }
    .little_ball{
      width: 6%;
      line-height: 1em;
      text-align: center;
      float:left;
      font-size: 200%;
      font-weight: bold;
    }
    .comments_tooltip{
      display: inline-block;
      float: none;
    }
  }
  .comments_tooltip {
    position: relative;
    padding: 3px 5px 1px 5px;
    border: 2px solid $pink;
    color: #333;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 100%;
    color: $pink;
    font-weight: bold;
    float: right;
    &:before {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 6px;
      border-width: 7px 7px 0 0;
      border-style: solid;
      border-color: $pink transparent;
      display: block;
      width: 0;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 8px;
      border-width: 4px 4px 0 0;
      border-style: solid;
      border-color: white transparent;
      display: block;
      width: 0;
    }
  }
  .authors{
    margin: 20px 0;
    background: url("/assets/debate_divider.png") repeat-y center;
    .author1, .author2 {
      width: 45%;
      p { margin-bottom: 0; }
      p.name{
        color: $blue;
        font-size: 18px;
        &:hover {
          color: $pink;
        }
      }
      p.bio { margin-bottom: 20px; }
      .balloon{
        .content{
          width: 230px;
          color: white;
          padding: 10px;
          @include border-radius(10px);
        }
      }
    }
    .author1 { 
      float: left;
      text-align: right;
      .balloon { 
        float: left;
        padding-right: 12px;
        background: url("/assets/debate_quote_balloon_left.png") no-repeat right 20px;
        .content{
          background: #e574b0;
        }
      }
    }
    .author2 {
      float: right;
      .balloon { 
        float: right; 
        padding-left: 12px;
        background: url("/assets/debate_quote_balloon_right.png") no-repeat left 20px;
        .content {
          background: #f19d68;
        }
      }
    }
    .quotes { margin-bottom: 20px; }
    .texts { 
      .author1, .author2 {
        text-align: left;
      }
    }
  }
  .quotes { margin-bottom: 20px; }
  .texts {
    .author1, .author2 { 
      text-align: left; 
    }
  }

  #bottom_buttons {
    padding-bottom: 10px;
  }
}
