// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.debates {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }

  .addthis_button img {
    padding-left: 16px;
  }

  .authors {
    margin: 0 0 20px 0;
    background: url("/assets/debate_divider.png") repeat-y center;
    .author1, .author2 {
      width: 45%;
      p { 
        margin-bottom: 0;
        &.name {
          color: $blue;
          font-size: 18px;
           &:hover {
             color: $pink;
           }
        }
        &.bio {
          margin-bottom: 20px;
        } 
      }
      .balloon {
        .content {
          color: white;
          padding: 10px 20px 10px 10px;
        }
      }
    }
    .author1 { 
      float: left;
      text-align: right;
      .balloon { 
        float: left;
        padding-right: 12px;
      }
      .profile {
        display: block;
        float: right;
        margin-left: 10px;
      }
    }
    .author2 {
      float: right;
      .balloon { 
        float: right; 
        padding-left: 12px;
      }
      .profile {
        display: block;
        float: left;
        margin-right: 10px;
      }
    }
    .quotes { margin-bottom: 10px; }
    .texts {
      margin-top: 48px;
      .author1, .author2 {
        text-align: left;
      }
    }
  }

  .comments {
    background: white;
    @include border-radius(4px);
    padding: 30px 24px;
    form {
      padding: 24px;
      img { 
        float: left;
        margin-right: 24px;
      }
      textarea {
        width: 588px;
        height: 100px;
      }
      .btn {
        float: right !important;
        margin-right: 5px;
      }
    }
    h3 {
      color: $orange;
      font-family: Akagi-Book;
      font-size: 18px;
      font-style: italic;
      border-bottom: 3px solid $blue;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .comment {
      padding: 24px; 
      border-bottom: 1px solid $light_gray;
      .right_column {
        width: 610px;
        float: left;
        p {
          margin: 0;
        }
        p.content {
          margin-bottom: 10px;
        }
      }
      img.member_image { 
        width: 50px;
        margin-right: 24px;
        float: left;
      }
      img.flag_loading {
        width: 12px;
      }
      .date {
        color: $dark_gray;
      }
    }
    .comments_arrow {
      position: absolute;
      top: 80px;
      left: 11px;
    }
    .btn {
      margin-left: 20px;
    }
    .previous_comments {
      margin-bottom: 15px;
    }
    .top_buttons {
      
    }
    .subtitle {
      padding: 0 20px 10px 0px;
      border-bottom: 1px solid $blue;
      overflow: hidden;
      #join_the_coversation {
        font-size: 18px;
        font-weight: normal !important;
      }
      >div {
        float: right;
        margin-top: 7px;
      }
      .comments_tooltip_large {
        margin-top: 0px;
      }
      span {
        color: $pink;
        font-size: 1.3em;
        font-weight: bold;
        padding-left: 5px;
      }
    }

    .join_the_conversation, .comment_login {
      padding-left: 20px;
      float: left;
    }
    .subtitle .comment_login {
      margin-top: 3px;
    }

    img.new_comment_loading {
      padding-left: 5px;
      width: 15px;
    }

    .load_more {
      text-transform: uppercase;
      font-size: 95%;
      float: right;
    }

    .load_more_link {
      background: url(/assets/orange_open_icon.png) top right no-repeat;
      cursor: pointer;
      line-height: 16px;
      padding: 3px 25px 10px 0;

      &:hover {
        color: $pink;
      }
    }

    #close {
      margin-top: 15px;
      float: right;
      cursor: pointer;
    }
  }

  .debate_header {
    background: white;
    margin: 10px 0;
    padding: 20px;
    h2{
      color: $orange;
      margin-bottom: 10px;
      text-align: center;
    }
    .comments_counter {
      color: $dark_gray;
      float: left;
      line-height: 2em;
      width: 47%;
      a.comments_link:hover{
        text-decoration: none !important;
      }
    }
    .comments_link {
      span {
        color: $pink;
        font-weight: bold;
      }
    }
    .comments_tooltip {
      margin-right: 5px;
      top: 6px;
    }
    .date {
      width: 47%;
      float: left;
      text-align: right;
      line-height: 2em;
    }
    .little_ball {
      width: 6%;
      line-height: 1em;
      text-align: center;
      float:left;
      font-size: 200%;
      font-weight: bold;
    }
  }

  .grid_12 {
    .issue_name {
      .sprite {
        float: right;
        position: absolute;
        right: 15px;
      }
    }
  }

  .quotes { margin-bottom: 20px; }

  .share{
    float:left;
  }

  .texts {
    .author1, .author2 { 
      text-align: left; 
    }
  }

  #bottom_buttons {
    overflow: hidden;
    padding-bottom: 10px;
  }

  #comment_area{
    padding-top: 29px;
  }
}
