@import "vars.css.scss";
@import "mixins.css.scss";

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  text-align: left;

  .popup{
    position:relative;
    // border:3px solid rgba(0,0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);

    .content {
      display:table;
      width: 370px;
      padding: 10px 24px;
      background-color: #fff;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      text-align:left;

      header {
        margin-bottom: 20px;
        border-bottom: 1px solid $blue;
        h2 {
          margin-bottom: 5px;
          font-family: "Akagi-book";
          font-size: 18px;
          font-weight: normal;
          line-height: 1.5;
          color:#333;
        }
      }

      p {
        margin:10px 0px;
      }

      #services{
        text-align:center;
        img {
          margin:20px 10px;
        }
      }

      .disclaimer{
        font-size: 12px;
      }
    }
  }

  .close{
    position:absolute;
    display:block;
    top:-11px;
    right:-12px;
    width:18px;
    height:18px;
    background: url(/assets/orange_close_icon.png) no-repeat;
    img {
      display:none; // Overriding default Facebox close button
    }
    padding:2px;
  }

  .loading {
    text-align: center;
  }

  .image {
    text-align: center;
  }

  img {
    border: 0;
    margin: 0;
  }
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

input#member_image { 
  padding: 10px;
  width: 94%;
  background-color: #cacaca;
}
