// Place all the styles related to the Homepage here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

#homepage{
  padding:10px 0 0 10px;
  .widget {
    float:left;
    width:auto;
    overflow:hidden;
    p{
      font-size: 14px;
      color: $dark_gray;
      a{
        font-weight: bold;
      }
    }
    h1{
      font-size: 25px;
      padding-top: 10px;
      margin-bottom: 22px;
      text-align: center;
      color: white;
    }
    &#featured_content_1 {
      width:620px;
      height:300px;
    }
    &#featured_content_2 {
      width:460px;
      height:300px;
    }
    &#date_weather {
      width:280px;
      height:60px;
      padding-left: 20px;
      color: #fff;
      background: url('/assets/homepage/weather.png') no-repeat center center;

      .forecast, .date, .icon {
        float: left;
        text-align: center;
      }

      .date, .icon {
        width: 80px;
        margin-right: 10px;
        font-family: Folk-solid;
        font-size: 180%;
        letter-spacing: 0.05em;

        .month {
          display: block;
          font-size: 60%;
          text-transform: uppercase;
        }
      }

      .icon {
        margin-top: 5px;
      }

      .forecast {
        width: 45px;
        margin-top: 10px;
        .label {
          text-transform: uppercase;
          font-size: 75%;
        }
        .temp {
          font-family: Folk-solid;
          font-size: 130%;
        }
      }
    }
    &#legislative {
      width:300px;
      height:220px;
      background: url('/assets/homepage/legislator.png') no-repeat center center;
      .controls {
        float: right;
        margin-right: 20px;
      }
      .scrollable{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 130px;
        .items{
          width: 20000em;
          position: absolute;
          clear: both;
          .item{
            float: left;
            width: 260px;
            padding: 0 20px;
            .date{
              float: right;
              width: 60px;
              background: url('/assets/homepage/legislator_calendar_bg.png') no-repeat top center;
              .month, .day{
                display:block;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: $dark_gray;
              }
              .month{
                padding-top:6px;
                font-size: 12px;
              }
              .day {
                font-size: 28px;
                line-height: 1;
              }
            }
          }
        }
      }
    }
    &#public_hearings {
      width:300px;
      height:220px;
      background: url('/assets/homepage/public_hearings.png') no-repeat center center;
      h1 {
        font-size:20px;
        margin-bottom: 25px;
      }
      .controls {
        float: right;
        margin-right: 20px;
      }
      .scrollable{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 130px;
        .items{
          width: 20000em;
          position: absolute;
          clear: both;
          .item{
            .date {
              font-size:12px;
              margin-bottom:8px;
            }
            float: left;
            width: 260px;
            padding: 0 20px;
          }
        }
      }
    }
    &#meu_rio_is {
      width:140px;
      height:380px;
      background: url('/assets/homepage/member.png') no-repeat center center;
    }
    &#follow {
      width:140px;
      height:60px;
      background: url('/assets/homepage/follow.png') no-repeat center center;
      padding-top:7px;
      .facebook_wrap {
        width:60px;
        height:22px;
        margin-left:3px;
        overflow:hidden;
      }
      .twitter_wrap {
        margin-top:6px;
        width: 64px !important; // Hack to hide the @meu_rio
        height:22px; // Hack to hide the @meu_rio
        overflow:hidden;
      }
    }
    &#team_update {
      width: 260px;
      height:200px;
      background: url('/assets/homepage/team_update.png') no-repeat center center;
      padding: 5px 20px 20px 40px;
      overflow: hidden;

      h1{
        font-size: 20px;
        margin-bottom: 10px;
        color: $green;
      }
      .date {
        font-size:12px;
        margin-bottom:8px;
      }
    }
    &#join_widget {
      width:300px;
      height:140px;
      background: url('/assets/homepage/join.png') no-repeat center center;
    }
    &#twitter_widget {
      width:580px;
      height:140px;
      padding: 0px 20px;
      background: url('/assets/homepage/twitter.png') no-repeat center center;

      h1 {
        color: $green;
        text-align: left;
        font-size: 190%;
      }

      p {
        margin-left: 30px;
        margin-right: 10px;
      }

      a.name {
        color: $green;
        font-weight: bold;
      }
    }
  }

  .widget_container{width:auto;}

  .widget.margin_right, .widget_container.margin_right {margin-right:20px;}
  .widget.margin_bottom, .widget_container.margin_bottom {margin-bottom:20px;}

  // Temporary Styles
  .widget.placeholder{font-size:0px;}
}
