// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "vars.css.scss";
@import "mixins.css.scss";

body.members {
  .meu_rio_is_top {
    margin-top: 36px;
    padding: 20px 30px 0 30px;
    height: 27px;
    background: url(/assets/member_quote_top.png);
    h3 {
      color: white;
      font-family: Folk-solid;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

  }

  .meu_rio_is_bot {
    margin-bottom: 40px;
    height: 19px;
    background: url(/assets/member_quote_bot.png);
  }

  .meu_rio_is_mid{
    color: white;
    padding: 0 30px;
    background: url(/assets/member_quote_mid.png) repeat-y;
    textarea {
      width: 565px;
    }
  }

  .posts {
    h3 {
      font-weight: normal;
      font-style: italic;
      border-bottom: 1px $blue solid;
      padding: 5px;
      position: relative;
      img {
        position: absolute;
        top: 15px;
        left: -12px;
      }
    }
    .post {
      margin-bottom: 20px;
      .icon {
        img { 
          width: 80%; 
          float: right;
        }
      }
    }
    &.grid_8.alpha.omega {
      margin-left: 10px;
      width: 610px;
    }
  }

  .profile_top {
    background: url("/assets/member_profile_top.png") no-repeat;
    height: 36px;
  }

  .profile_mid {
    padding: 0 20px;
    word-wrap: break-word;
    -ms-word-wrap : sWrap; /* IE I LOVE U! CHECK [] YES IF YOU LOVE ME TOO*/
    background: url("/assets/member_profile_mid.png") repeat-y;
    img#member_picture {
      margin-bottom: 5px; 
      width: 100%;
    }
    h3 { 
      .title {
        color: $green; 
      }
      font-size: 28px;
      margin: 10px 0;
    }
    .date { 
      font-size: 14px; 
      padding: 10px 0;
    }
    .title {
      color: $blue;
      margin: 5px 0;
    }
    .is_subscriber {
      margin: 20px 0 0 0;
      font-size: 12px;
    }
    .info {
      border-top: 1px solid $blue;
      border-bottom: 1px solid $blue;
      padding: 30px 0 10px;
    }

    .password {
      label { 
        margin-top: 10px; 
        display: block;
        font-size: 90%;
      }
    }

    textarea#member_bio {
      width: 250px;
    }
  }

  p.error .key {
    text-transform: capitalize;
  }

  .edit{
    display: none;
    padding-bottom: 10px;

    form {
      padding-bottom: 10px;
      .errors {
        background: #fae2d1;
        padding: 5px;
        margin-bottom: 10px;
        float: left;
      }
    }

    input {
      width: 100%;
    }
  }

  .profile_bot {
    background: url("/assets/member_profile_bot.png") no-repeat;
    height: 44px;
  }

  .display {
    padding-bottom: 10px;
  }

  .title, .profile_mid .title {
    display: block;
    float: left;
    margin-right: 5px;
  }

  .change {
    display: block;
    float: left;
  }

  .meu_rio_is_mid .change{
    margin-top: -22px;
  }

  .name {
    h3 .title {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    label {
      display: block;
      clear: both;
      font-weight: 400;
      font-size: 14px;
    }
    input {
      width: 47%;
      display: block;
      float: left;
      margin-right: 1%;
    }
  }
  
	#change_picture_btn {
    font-family: Akagi-Book;
    font-size: 14px;
    font-style: italic;
  }

  #facebox {
   .btn {
     float: right;
     margin: 15px 0;
    }
  }

}

.member_passwords.new {
  form input[type="email"] {
    height: 25px;
    margin-right: 15px;
  }
}
