// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.pages {
  h1 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 16px;
  }

  li {
    font-size: 15px;
    line-height: 140%;
  }

  &.show {
    p {
      padding: 0 10px 10px 0;
      &.noindent {
        padding: 0;
      }
    }
    h3 {
      padding: 0 0 0 10px;
      &.noindent {
        padding: 0;
      }
    }
  }

  .grid_8 {
    h2 {
      border-top: 2px solid $blue;
      border-bottom: 1px solid $blue;
      text-transform: uppercase;
      font-size: 20px;
      padding: 10px;
    }
    h3 { 
      font-size: 16px; 
      margin-bottom: 5px;
    }
  }

  .grid_8.trabalhe {
    padding-left:10px;
    padding-bottom:40px;
  }

  .trabalhe {
    p {
      margin-bottom: 0px;
    }

    .job {
      padding:20px;
      border-top:1px solid $blue;
      a.title {
        font-size: 18px;
      }
      a.toggle_icon {
        float:right;
        display:block;
        width:20px;
        height:20px;
      }
      .description {
        display:none;
        margin-top:20px;
      }
      &:last-child {
        border-bottom:1px solid $blue;
      }
    }
    .job.open a.toggle_icon{
      background-image:url(/assets/orange_collapse_icon.png);
    }
    .job.closed a.toggle_icon{
      background-image:url(/assets/orange_open_icon.png);
    }
    .sidebar {
      width:235px;
      margin-left:25px;
      padding:25px 20px 10px 20px;
      border-top:2px solid $blue;
      background-color: #fff;
      @include border-radius(0 0 3px 3px);
      @include box-shadow(0px 2px 2px $light_gray);
    }
  }

  #about_description p {
    span {
      display: block;
    }
    a {
      font-weight: bold;
    }
  }

  #about_image {
    position: relative;
    margin-bottom: 20px;
    img {
      width: 100%; 
      @include border-radius(5px);
    }
    .grid_8 {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(44, 186, 226, 0.7);
      padding: 30px;
      color: white;
      font-size: 19px;
      line-height: 150%;
      @include border-radius(5px 0 5px 0);
      span {
        display: block;
      }
      p {
        margin-bottom: 0px;
        a {
          font-weight: bold;
        }
      }
    }
  }

  #join_meu_rio {
    text-align: center;
    padding: 40px 0 0;
    p {
      position: relative;
      font-weight: bold; 
      color: $dark_gray;
      img {
        position: absolute;
        left: 30px;
        top: 10px;
      }
    }
  }

  #quem_somos {
    h2 {
      font-family: Folk-solid;
    }
    p {
      padding-left: 10px;
    }
  }

  #quote_container {
    .sprite {
      margin: 19px 10px 0px 10px;
      padding: 0;
      &.facebook {
        margin-left: 25px;
      }
      &.orkut {
        top: -6px;
      }
    }
  }

  #what_you_can_do {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 0;
    h2 {
      font-family: Folk-solid;
      font-size: 20px;
      margin-left: 0;
      text-transform: uppercase;
    }
    >img {
      float: right;
      margin: 0 0 10px 10px;
    }
    .wobble_container {
      width: 302px;
      header p {
        margin: 10px 15px 0 10px;
      }
      &.alpha {
        margin-right: 7px;
      }
      &.omega {
        margin-left: 7px;
      }
    }
    .feature {
      padding: 0 20px;
      p.title { font-weight: bold; }
      img {
        float: right;
        width: 50px;
        margin: 0 0 10px 10px;
      }
      p.description {
        height: 150px;
      }
    }
    .omega {
      .feature {
        background: url("debate_divider.png") repeat-y right;
        padding-left: 0;
      }
    }
    .alpha {
      .feature {
        background: url("debate_divider.png") repeat-y left;
        padding-right: 0;
      }
    }
  }
}
