// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.pages {
  h1 {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 16px;
  }

  li {
    font-size: 15px;
    line-height: 140%;
  }

  .about_image {
    position: relative;
    img { 
      width: 100%; 
      @include border-radius(5px);
    }
    .grid_6 {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(44, 186, 226, 0.7);
      padding: 30px;
      color: white;
      font-size: 19px;
      line-height: 150%;
      @include border-radius(5px 0 5px 0);
    }
  }
}
