@import "vars.css.scss";
@import "mixins.css.scss";

body.personal_stories {
  h2 {
    color: $orange;
    margin: 10px 0;
    text-transform: uppercase;
  }

  .story {
    float: left;
    margin-bottom: 24px;
    margin-right: 24px;
    outline: 0;
    position: relative;
    width: 210px;
    .thumbnail {
      float: left;
      outline: 0 none !important;
      position: relative;
      img {
        float: left;
        position: relative;
      }
      .play_button {
        left: 83px;
        position: absolute;
        top: 56px;
        visibility: hidden;
        &.active {
          visibility: visible;
        }
        img {
          position: relative;
        }
      }
      &.current {
        >img {
          //@include glow($orange);
        }
       .play_button {
          visibility: visible;
        }
      }
      &:focus {
        .play_button {
          visibility: visible;
        }
      }
    }
    .title {
      float: left;
      font-size: 1em;
      margin-top: 10px;
      position: relative;
    }
    &.first {
      clear: left;
    }
  }

  .grid_12 {
    .issue_name {
      .sprite.personal_story {
        float: right;
        position: absolute;
        right: 15px;
      }
    }
    &.current {
      border-bottom: 1px solid $blue;
      margin: 0 0 48px -10px;
      padding: 25px 10px 40px 10px;
      position: relative;
      width: 100%;
    }
    &.video_thumbs {
      margin-bottom: 56px;
    }
  }

  .take_action {
    margin-top:20px;
  }

  .thumbnail:hover {
    cursor: pointer;
  }

  .video_page_title {
    color: $dark_gray;
    padding-left: 10px;
  }

  #video_description_content {
    margin-left: 20px;
    .current_description {
      margin-bottom: 7px;
    }
    .sprite.arrow-down {
      margin-right: 10px;
      top: 15px;
    }
  }
}