@import "vars.css.scss";
@import "mixins.css.scss";

body.personal_stories {
  .story {
    float:left;
    width:210px;
    margin-right:24px;
    margin-bottom:24px;
  }

  .title {
    font-size: 16px;
  }

  h3 {
    font-weight: 600;
    color: $dark_gray;
    margin: 10px 0;
  }

  .current.grid_12 {
    border-top: 2px solid $blue;
    border-bottom: 1px solid $blue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 25px;
  }

  .play_button {
    margin-top: -105px;
    margin-left: 70px;
    padding-bottom: 28px;
    display: none;
  }

  .take_action {
    margin-top:20px;
  }
  .thumbnail.current {
    .play_button {
      display: block;
    }
  }

  .thumbnail:hover {
    cursor: pointer;
  }

}
