// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";
@import "mixins.css.scss";

body.petitions {
  h1 {
    color: $dark_gray;
    margin-bottom: 36px;
  }

  .donation_thanks{
    color: $orange;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .donation_box{
    background:url("/assets/donate_background.png") no-repeat;
    padding: 20px;
    width: 420px;
    height: 320px;
    .headline{
      font-weight: bold;
      font-size: 16px;
      color: $dark_gray;
      margin-bottom: 15px;
    }
    .text{
      color: $dark_gray;
      font-size: 14px;
    }
    .button_wrapper{
      float: right;
    }
    .donation_arrow{
      margin-top: 20px;
    }
  }

  h2 {
    color: $orange;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  img#thank_you {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
  }

  .canvas {
    background: #ebebeb;
    @include box-shadow(3px 3px 3px #ccc);
    @include border-radius(5px);
    margin-bottom: 10px;
    padding: 16px 24px;
    img { float: left; }
    .share_text {
      color: $dark_gray;
      font-size: 12.5px;
      margin-top: 5px;
      float: right; 
      width: 340px;
    }
    h3 { 
      margin-bottom: 5px;
      font-size: 15px;
    }
    form{
      img { margin-right: 10px }
    }
    .member_info { margin-bottom: 20px }
    h2 { text-transform: uppercase; }
  }
  .speech_bubble {
    padding-bottom: 5px;
    width: 404px;
    &.taf {
      padding-bottom: 25px;
    }
    .already_signed {
      width: 97%;
      padding: 5px;
      background-color: #fae2d1;
      display: none;
    }
    h2 {
      text-transform: uppercase;
    }
  }

  .comments {
    margin-top: 48px;
    h3 {
      font-family: 'Folk-solid';
      border-bottom: 1px solid $light_blue;
      border-top: 3px solid $light_blue;
      font-size: 20px;
      margin-bottom: 24px;
      padding: 5px 0 10px 12px;
    }
    .sprite.little_blue_bubble {
      margin-left:12px;
    }
    p {
      padding-left:58px;
      margin-bottom: 24px;
      position: relative;
      font-size: 14px !important;
      strong {
        font-weight: normal;
        color: $dark_gray;
      }
    }
  }

  .counter {
    font-family: Akagi-Book;
    font-size: 18px;
    span {
      color: $pink;
      font-size: 24px;
    }
  }

  .description { margin-top: 26px }

  .goal {
    margin-top: 22px;
    text-align: left;
    font-size: 13px;
  }

  .graph {
    margin: 24px 0 14px;
    background-color: $light_gray;
    border: 1px solid $light_gray;
    @include border-radius(8px);
    .progress {
      height: 24px;
      background-color: $pink;
      background-image: url(/assets/bg_progress-bar.gif);
      @include border-radius(4px 0 0 4px);
    }
  }

  .issue_name .sprite {
    float: right;
    position: absolute;
    right: 15px;
  }

  .meta_container {
    width: 45px;
  }

  .media {
    iframe, img {
      width: 100% !important
    }
  }

  .policy { padding-top: 15px; float: left; }

  .progress_bar_container {
    width: 395px;
  }

  .row {
    margin-top: 10px;
    .field {
      width: 48%;
      float: left;
    }
    .right {
      float: right;
    }
    label { font-size: 12.5px }
    .required_mark { color: $blue; }
    input[type="text"], select { width: 184px; }
    textarea { width: 394px; margin-bottom: 5px; }
    input[type="text"], textarea, select { 
      display: block;
      margin-bottom: 5px;
      padding: 6px 3px 7px; 
    }
  }

  .row.comment {
    margin-bottom: 5px;
  }

  .submit {
    float: right;
    .sprite.arrow-down {
      margin-right: 10px;
    }
  }

  .take_action, .comments {
    margin-left: 20px;
    width: 450px;
    h2 { font-weight: bold; }
  }

  .take_action {
   .speech_bubble h3 { color: $dark_gray; font-family: Akagi-book; font-size: 1em; }
   .share_text { margin-top: 5px; float: left; font-size: 95%; }
   .clippy .speech_bubble { margin-top: 0; }
  }

  .comments {
    h3 { text-transform: uppercase; }
  }

  .zona {
    >dl {
      margin: 4px 0 0 0;
      width: 158px;
      >dd {
        ul {
          min-width: 159px;
        }
      }
    }
    select {
      display: none;
    }
  }

  #clippy{
    float:left;
    padding-top:3px;
  }

  #clippy_input{
    width:280px;
  }
}
