// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars.css.scss";

body.petitions {

  .issue_name {
    text-transform: uppercase;
    color: $blue;
    font-size: 14px;
  }

  .media {
    iframe, img {
      width: 100% !important
    }
  }

  .goal {
    text-align: right;
    margin-top: 10px;
  }

  .graph {
    margin-bottom: 10px;
    background-color: $light_gray;
    border: 1px solid gray;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 0 1px 1px gray;
    -moz-box-shadow: inset 0 0 1px 1px gray;
    -webkit-box-shadow: inset 0 0 1px 1px gray;
    .progress {
      height: 30px;
      background-color: $pink;
      background-image: -moz-linear-gradient(100% 100% 90deg, $pink, lighten($pink, 20%));
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($pink, 20%)), to($pink));
      border-right: 1px solid $pink;
      border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
    }
  }

  .counter {
    color: $pink;
    font-size: 250%;
  }

  .description { margin-top: 10px }

  .canvas{
    background: #e7e7e7;
    box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    img { float: left; }
    .share_text { 
      float: right; 
      width: 380px;
    }
    h3 { 
      margin-bottom: 5px;
      font-size: 125%;
    }
  }

  h2 {
    color: $orange;
    margin-bottom: 10px;
  }

  .row {
    margin-top: 10px;
    .field {
      width: 45%;
      float: left;
    }
    .required_mark { color: $blue; }
    input[type="text"], select { width: 173px; }
    textarea { width: 410px }
    input[type="text"], textarea, select { display: block; }
  }

  .policy { padding-top: 15px; float: left; }
  .submit { float: right }
  
  .comments {
    margin-top: 20px;
    h3 { border-bottom: 1px solid $light_blue; border-top: 1px solid $light_blue; padding: 10px 0 5px; font-size: 16px; }
    p {
      background:url("/images/comment_icon.png") no-repeat;
      padding-left:42px;
    }
  }

  #clippy_input{
    width:280px;
  }

  #clippy{
    float:left;
    padding-top:3px;
  }
}
