$green: #189047;
$blue: #2cbae2;
$pink: #df499a;
$orange: #ef803b;
$dark_gray: #333333;
$mid_gray: #404040;
$light_gray: #c2c2c2;

$small_font: 10px;
$medium_font: 18px;
$big_font: 24px;
$huge_font: 48px;
