@mixin user_menu
  +grid(5)
  position: relative
  z-index: 200
  a.user
    display: block
    padding: 16px
    text-decoration: none
    img.avatar
      border: 1px solid $brey
      height: 24px
      margin-right: 8px
    img.dropdown
      vertical-align: middle
      margin-left: 4px
  .menu
    background-color: $light_black
    background-color: rgba(0, 0, 0, 0.8)
    padding: 16px
    padding-top: 16px
    +border-radius(6px)
    z-index: 100
    display: none
    position: absolute
    top: 0
    left: 0
    text-align: right
    a
      padding: 0px
      text-decoration: none
      color: $ice
      &:hover
        color: white
    ul li
      padding: 8px 0
      &:last-child
        padding-bottom: 0
