%p
  Olá #{@resource.email}!
%p Parece que você nos pediu um link para mudar a senha da sua conta no Meu Rio. Então #{link_to 'lá vai', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)}.
%p Se você não quiser mudar sua senha, por favor ignore essa mensagem. 
%p Atenciosamente,
%p Equipe Meu Rio
