%h2
  %p.label First Name
  %p.data= @user.first_name
  %p.label Last Name
  %p.data= @user.last_name
  %p.label Email
  %p.data= @user.email
  - unless @user.account_active?
    %p.data This user's account has been deactivated

  =link_to "Edit", edit_admin_user_path(@user)
  =link_to "Index", admin_users_path
