!!!
%html
  %head
    %title Faça login em outros sites com a sua conta do Meu Rio
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = favicon_link_tag asset_path('favicon.png'), :type => "image/png"

  %body
    = yield
